
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
</style>
<div class="page page-table" data-ng-controller="addClinicController">
  <div class="col-lg-8 clearfix">
      <h2 class="section-header">
        <span data-translate="Patient Details"></span>
      </h2>
  </div>
  <div class="col-md-12">
      <md-content class="md-padding">
          <form name="clinicForm" class="form-horizontal form-validation" data-ng-submit="saveClinic()">
            <fieldset>
              <md-input-container class="md-block">
                  <label>
                      <span data-translate="CODE"></span>
                  </label>
                  <input  required  name="codeClinic" type="text" ng-model="clinic.code"
                      minlength="10" maxlength="100" role="alert">
                  <div ng-messages="clinicForm.codeClinic.$error">
                      <div ng-message-exp="['required','minlength','maxlength']">
                              Please enter a valid code !!
                      </div>
                  </div>
              </md-input-container>
              
              <div layout layout-sm="column">
                <div flex="33">
                  <md-input-container class="md-block">
                      <label>
                          <span data-translate="NAME"></span>
                      </label>
                      <input  required  name="nomClinic" type="name" ng-model="clinic.nom"
                          minlength="3" maxlength="100" role="alert">
                      <div ng-messages="clinicForm.nomClinic.$error">
                          <div ng-message-exp="['required','minlength','maxlength']">
                                  Please enter a valid Name !!
                          </div>
                      </div>
                  </md-input-container>     
                </div>
                <div flex="33"> 
                  <md-input-container class="md-block">
                    <label>
                      <span data-translate="ADDRESS"></span>
                    </label>
                    <input required 
                    type="text"
                    name="addressClinic" 
                    ng-model="clinic.address"/>
                    <div ng-messages="clinicForm.addressClinic.$error" multiple ng-if='clinicForm.addressClinic.$dirty'>
                      <div ng-message="required">
                        <span data-translate="THIS IS REQUIRED"></span>.
                      </div>
                    </div>
                  </md-input-container>   
                </div>
                <div flex="33">
                  <md-input-container class="md-block">
                    <label>
                      <span data-translate="ZIP CODE"></span>
                    </label>
                    <input required 
                    type="text"
                    name="zipCodeClinic" 
                    ng-model="clinic.zipcode"/>
                    <div ng-messages="clinicForm.zipCodeClinic.$error" multiple ng-if='clinicForm.zipCodeClinic.$dirty'>
                      <div ng-message="required">
                        <span data-translate="THIS IS REQUIRED"></span>.
                      </div>
                    </div>
                  </md-input-container>     
                </div>
              </div>
              <div layout layout-sm="column">
                <div flex="33"> 
                  <md-input-container class="md-block">
                    <label>
                      <span data-translate="COUNTRY"></span>
                    </label>
                    <input required 
                    type="text"
                    name="paysClinic" 
                    ng-model="clinic.pays"/>
                    <div ng-messages="clinicForm.paysClinic.$error" multiple ng-if='clinicForm.paysClinic.$dirty'>
                      <div ng-message="required">
                        <span data-translate="THIS IS REQUIRED"></span>.
                      </div>
                    </div>
                  </md-input-container>   
                </div>
                <div flex="33"> 
                  <md-input-container class="md-block">
                    <label>
                      <span data-translate="CONTACT"></span>
                    </label>
                    <input required 
                    type="text"
                    name="contactClinic" 
                    ng-model="clinic.contact"/>
                    <div ng-messages="clinicForm.contactClinic.$error" multiple ng-if='clinicForm.contactClinic.$dirty'>
                      <div ng-message="required">
                        <span data-translate="THIS IS REQUIRED"></span>.
                      </div>
                    </div>
                  </md-input-container>   
                </div>
                <div flex="33">
                  <md-input-container flex   class="md-block">
                      <label>
                          <span data-translate="EMAIL"></span>
                        </label>
                      <input  required  name="emailClinic" type="email" ng-model="clinic.email"
                          minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" role="alert">
                      <div ng-messages="clinicForm.emailClinic.$error">
                          <div ng-message-exp="['required','minlength','maxlength','pattern']">
                                  Please enter a valid email !!
                          </div>
                      </div>
                  </md-input-container>
                </div>
              </div> 
              <div layout layout-sm="column">
                  <md-input-container class="md-block">
                    <label>
                      <span data-translate="BANK ACCOUNT"></span>
                    </label>
                    <input required 
                    type="text"
                    name="bankAccountClinic" 
                    ng-model="clinic.bankAccount"/>
                    <div ng-messages="clinicForm.bankAccountClinic.$error" multiple ng-if='clinicForm.bankAccountClinic.$dirty'>
                      <div ng-message="required">
                        <span data-translate="THIS IS REQUIRED"></span>.
                      </div>
                    </div>
                  </md-input-container>   
              </div>                                     
              <md-button type="submit" class="md-raised btn-w-md md-primary" data-ng-disabled="clinicForm.$invalid">Save</md-button>
              <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
            </fieldset>
          </form>
      </md-content>
  </div>
</div>
