<header class="top-header clearfix" >
    <!-- Logo -->
    <div class="logo bg-success">
        <a href="#/">
            <span class="logo-icon zmdi zmdi-view-dashboard"></span>
            <span class="logo-text" style="font-size: 18px;">{{main.brand}}</span>
        </a>
    </div>
    <div class="menu-button" toggle-off-canvas   >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="top-nav" ng-controller="logoutCtrl">
        <ul class="nav-left list-unstyled">
            <li style="border-right: 0;">
                <a href="#/" data-toggle-nav-collapsed-min
                   md-button aria-label="toggle-nav-collapsed-min"
                   class="toggle-min"><i class="zmdi zmdi-menu"></i></a>
            </li>
        </ul> 
        <ul class="nav-right pull-right list-unstyled"   >
            <li class="dropdown text-normal nav-profile"    uib-dropdown is-    open="status.isopenProfile">
                <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="profile">
                    <img alt=""  ng-src="{{connecteduser.image}}" class="img-circle img30_30">
                    <span class="hidden-xs">
                        <span style="text-transform: none;" > {{connecteduser.name}} </span>
                    </span>
                </a>
                <ul class="with-arrow pull-right dropdown-menu-scaleIn" uib-dropdown-menu>
                    <li class="custom-header">
                        <img class="img-circle" alt="connected user" ng-src="{{connecteduser.image}}">
                        <p class="ng-binding">{{connecteduser.name}}
                            <small class="ng-binding">{{connecteduser.name}}</small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <span data-translate="ACCOUNT NAME"></span>: 
                                    </td>
                                    <td class="ng-binding">{{connecteduser.name}}</td>
                                </tr>
                                 <tr>
                                    <td>
                                        <span data-translate="ACCOUNT EMAIL"></span>: 
                                    </td>
                                    <td class="ng-binding">{{connecteduser.id}}</td>
                                </tr>                       
                                <tr>
                                    <td>
                                        <span data-translate="USER ROLE"></span>: 
                                    </td>
                                    <td class="ng-binding">{{convertRole(connecteduser.role)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="user-footer" style="padding: 4px 10px">
                        <button  class="md-accent md-raised upgradeNowIndex md-button 
                        md-ink-ripple" style="float:right"  ng-click="logout()">
                            <span data-translate="LOG OUT"></span>
                            <div class="md-ripple-container"></div>
                        </button>
                    </li>
                </ul>
            </li>
            <li class="dropdown langs text-normal" data-ng-controller="LangCtrl" uib-dropdown is-open="status.isopenLang">
                <a href="javascript:;" class="dropdown-toggle active-flag" uib-dropdown-toggle ng-disabled="disabled" md-button aria-label="lang">
                    <div class="flag {{ getFlag() }}"></div>
                </a>
                <ul class="with-arrow pull-right list-langs dropdown-menu-scaleIn" role="menu" uib-dropdown-menu>
                    <li data-ng-show="lang !== 'English' ">
                        <a href="javascript:;" data-ng-click="setLang('English')"><div class="flag flags-american"></div> English</a>
                    </li>
                    <li data-ng-show="lang !== 'Español' ">
                        <a href="javascript:;" data-ng-click="setLang('Español')"><div class="flag flags-spain"></div> Español</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<md-progress-linear md-mode="indeterminate" ng-if="showProgressBar"></md-progress-linear>