<style>
  .col-md-12{
   zoom:0.85;
  }
</style>
<div ng-controller="patientListCtrl" class="page page-table">

    <div class="appraisalButton">
        <md-button aria-label="accounts-add" class="md-fab" href="#/patientCreate" style="background-color: #262B33 !important;">
        <span class="zmdi zmdi-account-add"></span>
        </md-button>
    </div>

   <div class="row ui-section">
        <div class="col-lg-8 clearfix">

            <h2 class="section-header">
              <span data-translate="PATIENT LIST"></span>
            </h2>
        </div>
         <div class="col-lg-4 clearfix">
            <form style="padding: 30px 0px;">
            <input type="text"
                 placeholder="Search..."
                 class="form-control"
                 data-ng-model="searchKeywords"
                 data-ng-keyup="search()">
            </form>
        </div>
        <div class="table-filters">
                <div class="row">

            </div>
        <div class="col-md-12">

        <section class="panel panel-default table-dynamic">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>
                  <div class="th">
                    <center><span data-translate="FIRST NAME"></center></span>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="LAST NAME"></center></span>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="BIRTH DATE"></center></span>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="ASSIGNED TO"></center></span>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="SEX"></center></span>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="AGE"></span>
                  </div>
                </th>
                <th>
                  <div class="th"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="patient in patientList" >
                <td ng-click="viewPatientDetails(patient)"><center>{{patient.firstName}}</center></td>
                <td ng-click="viewPatientDetails(patient)"><center>{{patient.lastName}}</center></td>
                <td ng-click="viewPatientDetails(patient)"><center>{{patient.date | date:'MM-dd-yyyy'}}</center></td>
                <td ng-click="viewPatientDetails(patient)"><center>{{patient.addedBy}}</center></td>
                <td ng-click="viewPatientDetails(patient)"><center>{{patient.sex}}</center></td>
                <td ng-click="viewPatientDetails(patient)"><center>{{patient.age}}</center></td>
                <td>
                  <div ng-if="connecteduser.role =='ADMIN' || connecteduser.role =='MANAGER' || patient.addedBy == connecteduser.email">
                    <a href="#/patientDetails/{{patient.id}}/update" style="text-decoration: none;color: #3d4051;">
                      <span class="zmdi zmdi-edit" style="margin-right: 10px;">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible1">
                          <span data-translate="EDIT PATIENT"></span>
                        </md-tooltip>
                      </span>
                    </a>
                    <!--
                    <span class="zmdi zmdi-assignment-o" ng-click="goToPatientSessions(patient)" style="margin-right: 10px;">
                      <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                        <span data-translate="PATIENT SESSIONS"></span>
                      </md-tooltip>
                    </span>
                    -->
                    <span class="zmdi zmdi-delete" ng-click="deletePatient(patient)">
                      <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                        <span data-translate="DELETE PATIENT"></span>
                      </md-tooltip>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                  <span data-translate="SHOW"></span>
                  <select data-ng-model="numPerPage"
                      data-ng-options="num for num in numPerPageOpt"
                      data-ng-change="onNumPerPageChange()">
                  </select> 
                  <span data-translate="ENTRIES PER PAGE"></span>
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredStores.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
  </div>
</div>
