<style>
  .raphael-group-141-creditgroup text tspan{
    visibility:hidden;
  }
  .tabsdemoDynamicHeight md-content {
    background-color: transparent !important; 
  }
  .tabsdemoDynamicHeight md-content md-tabs {
      background: #f6f6f6;
      border: 1px solid #e1e1e1; 
  }
  .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; 
  }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; 
  }
  .table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
    padding: 15px;
    line-height: 0.42857;
    vertical-align:middle;
  }
  md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: rgb(221, 57, 104);
    background: rgb(221, 57, 104);
  }
  md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(221, 57, 104);
  }
  md-input-container.md-default-theme > md-icon, md-input-container > md-icon {
    color: rgb(92, 96, 102);
  }
  .simpleBlock{
    padding: 12px;
    margin: 25px 0;
  }
  .GreyTension{
    background-color:#bdbdbd;
  }
  .PinkTension{
    background-color:#dd3968;
  }
  .tensionLi {
    display:block;
    height: 35px;
    width: 18px;
    margin: 5px;
  }
  </style>

  <div class="page" ng-controller="patientSeanceCtrl">

    <div class="row ui-section">
      <div class="col-lg-8 clearfix">
        <h2 class="section-header">Seance Patient</h2>
      </div>

      <div class="col-md-12">
         <md-input-container>
          <label>Select a Patient</label>
          <md-select ng-model="obj.patient">
            <md-option ng-repeat="patient in patientList" value="{{patient.id}}">
              {{patient.firstName}} {{patient.lastName}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="col-md-12">

        <md-content>
          <md-tabs md-dynamic-height="" md-selected="selectedTabIndex" md-border-bottom="">
            <md-tab label="1st. Week" ng-click="switchTab(0)">
              <md-content class="md-padding">
                <form name="firstWeekForm" class="form-horizontal form-validation" data-ng-submit="submitFirstWeekForm()">
                  <fieldset>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <label>Personal interview</label>
                        <input required 
                        type="text"
                        name="personalInterview" 
                        ng-model="firstWeekFormPatient.personalInterview"/>
                        <div ng-messages="firstWeekForm.personalInterview.$error" multiple ng-if='firstWeekForm.personalInterview.$dirty'>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp" style="margin-top: 0px;">
                      <label>Delivery of questionnaires</label>
                      <button type="button" ng-click="printDeliveryQuest()"><i class="material-icons" style="vertical-align: middle;" >file_download</i></button>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <label>Taking anthropometric measurements and blood pressure</label>
                      <table class="table no-margin">
                        <thead>
                          <tr>
                              <th colspan="2" style="background-color:#7F7F7F; color:#fff">#</th>
                              <th colspan="2" style="background-color:#6B2085; color:#fff">COMPOSICIÓN CORPORAL</th>
                              <th colspan="2" style="background-color:#FF5F5D; color:#fff">PERÍMETRO(cm)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>PESO(kg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Grasa Corporal (%)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Muñeca</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>TALLA(cm)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Grasa Corporal (kg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Cintura</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>IMC(kg/m2)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Grasa Visceral</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Cadera</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                          <tr>
                            <td>Complexión</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Masa Ósea (kg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>ICC</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                        </tbody>
                      </table>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <md-checkbox ng-model="firstWeekFormPatient.analyticalCollection" style="margin-bottom: 0px;" ng-true-value="'Yes'" ng-false-value="'No'" aria-label="analyticalCollection">
                          Analytical sample + collection appointment : {{ firstWeekFormPatient.analyticalCollection }}
                        </md-checkbox>
                      </md-input-container> 
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <label>General recommendations</label>
                        <textarea required
                        ng-model="firstWeekFormPatient.generalRecommendations" 
                        columns="1" 
                        name="generalRecommendations" 
                        ng-maxlength="150"
                        md-maxlength="150"></textarea>
                        <div ng-messages="firstWeekForm.generalRecommendations.$error" multiple ng-if='firstWeekForm.generalRecommendations.$dirty'>
                          <div ng-message="maxlength">Recommendations must contain less than 150 characters.</div>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container> 
                    </div>

                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="firstWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>
            <!-- ///////////////////////////////////////// WEEK 2 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
            <md-tab label="2nd. Week" ng-disabled="tab_1_status" ng-click="switchTab(1)">
              <md-content class="md-padding">
                <form name="secoundWeekForm" class="form-horizontal form-validation" data-ng-submit="submitSecoundWeekForm()">
                  <fieldset>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-checkbox style="margin-top: 10px;" ng-model="secoundWeekFormPatient.assessmentQust" ng-true-value="'Yes'" ng-false-value="'No'" aria-label="assessmentQust">
                          Test Done : {{ secoundWeekFormPatient.assessmentQust }}
                      </md-checkbox>
                      <md-input-container class="md-block">
                        <label>Assessment questionnaires</label>
                        <input required 
                        type="text"
                        name="assessment" 
                        ng-model="secoundWeekFormPatient.assessment"/>
                        <div ng-messages="secoundWeekForm.assessment.$error" multiple ng-if='secoundWeekForm.assessment.$dirty'>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <label>Measuring physical parameters</label>
                      <table class="table no-margin">
                        <thead>
                          <tr>
                              <th colspan="2" style="background-color:#7F7F7F; color:#fff">#</th>
                              <th colspan="2" style="background-color:#6B2085; color:#fff">COMPOSICIÓN CORPORAL</th>
                              <th colspan="2" style="background-color:#FF5F5D; color:#fff">PERÍMETRO(cm)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>PESO(kg)</td>
                            <td><input type="text" ng-model="secoundWeekFormPatient.physicalParam" class="form-control"></td>
                            <td>Grasa Corporal (%)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Muñeca</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>TALLA(cm)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Grasa Corporal (kg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Cintura</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>IMC(kg/m2)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Grasa Visceral</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Cadera</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                          <tr>
                            <td>Complexión</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Masa Ósea (kg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>ICC</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                        </tbody>
                      </table>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <label>Heart rate</label><br>
                      <ul style="display: -webkit-inline-box;-webkit-padding-start: 0px;">
                        <li ng-repeat="item in tensionObj track by $index" class="{{item? 'PinkTension':'GreyTension'}} tensionLi" ng-Click ="tensionArt($index,item)"></li>
                      </ul>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <md-checkbox ng-model="secoundWeekFormPatient.analyticalResult" style="margin-bottom: 0px;" ng-true-value="'Done'" ng-false-value="'Not-yet'" aria-label="analyticalCollection">
                         Analytical Results : {{ firstWeekFormPatient.analyticalResult }}
                        </md-checkbox>
                      </md-input-container> 
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <label>Provisional menu</label>
                        <input required 
                        type="text"
                        name="provisionalMenu" 
                        ng-model="secoundWeekFormPatient.provisionalMenu"/>
                        <div ng-messages="secoundWeekForm.provisionalMenu.$error" multiple ng-if='secoundWeekForm.provisionalMenu.$dirty'>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>   
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">  
                      <md-input-container class="md-block">
                        <label>Doubts</label>
                        <textarea required
                        ng-model="secoundWeekFormPatient.doubts" 
                        columns="1" 
                        name="doubts" 
                        ng-maxlength="150"
                        md-maxlength="150"></textarea>
                        <div ng-messages="secoundWeekForm.doubts.$error" multiple ng-if='secoundWeekForm.doubts.$dirty'>
                          <div ng-message="maxlength">Recommendations must contain less than 150 characters.</div>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>

                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="secoundWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

            <!-- ///////////////////////////////////////// WEEK 3 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

            <md-tab label="3rd. Week" ng-disabled="tab_2_status" ng-click="switchTab(2)">
              <md-content class="md-padding">
                <form name="thirdWeekForm" class="form-horizontal form-validation" data-ng-submit="submitThirdWeekForm()">
                  <fieldset>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <md-checkbox ng-model="thirdWeekFormPatient.characteristics" style="margin-bottom: 0px;" ng-true-value="'Done'" ng-false-value="'Not-yet'" aria-label="characteristics">
                         Explanation Report Nutgen (patient characteristics) : {{ thirdWeekFormPatient.characteristics }}
                        </md-checkbox>
                      </md-input-container> 
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <label>Anthropometric measures</label>
                      <table class="table no-margin">
                        <thead>
                          <tr>
                              <th colspan="2" style="background-color:#7F7F7F; color:#fff">#</th>
                              <th colspan="2" style="background-color:#6B2085; color:#fff">COMPOSICIÓN CORPORAL</th>
                              <th colspan="2" style="background-color:#FF5F5D; color:#fff">PERÍMETRO(cm)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>PESO(kg)</td>
                            <td><input type="text" ng-model="thirdWeekFormPatient.anthropometric" class="form-control"></td>
                            <td>Grasa Corporal (%)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Muñeca</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>TALLA(cm)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Grasa Corporal (kg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Cintura</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>IMC(kg/m2)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Grasa Visceral</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Cadera</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                          <tr>
                            <td>Complexión</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Masa Ósea (kg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>ICC</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                        </tbody>
                      </table>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp"> 
                      <md-input-container class="md-block">
                        <label>Doubts on the menu</label>
                        <textarea required
                        ng-model="thirdWeekFormPatient.doubtsMenu" 
                        columns="1" 
                        name="doubtsMenu" 
                        ng-maxlength="150"
                        md-maxlength="150"></textarea>
                        <div ng-messages="thirdWeekForm.doubtsMenu.$error" multiple ng-if='thirdWeekForm.doubtsMenu.$dirty'>
                          <div ng-message="maxlength">Recommendations must contain less than 150 characters.</div>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>      
                    </div>

                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="thirdWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

            <!-- ///////////////////////////////////////// WEEK 4 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

            <md-tab label="4th. Week" ng-disabled="tab_4_status" ng-click="switchTab(3)">
              <md-content class="md-padding">
                <form name="fourthWeekForm" class="form-horizontal form-validation" data-ng-submit="submitfourthWeekForm()">
                  <fieldset> 

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <md-checkbox ng-model="fourthWeekFormPatient.explanation" style="margin-bottom: 0px;" ng-true-value="'Done'" ng-false-value="'Not-yet'" aria-label="characteristics">
                         Explanation Report Nutgen (genotype risks and recommendations) : {{ fourthWeekFormPatient.explanation }}
                        </md-checkbox>
                      </md-input-container> 
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <label>Establishing short and medium term objectives</label>
                      <table class="table no-margin" style="margin-top:20px; margin-bottom:20px; width:55%">
                        <thead>
                          <tr>
                              <th style="background-color:#7F7F7F; color:#fff">PERFIL CALÓRICO (%Kcal) </th>
                              <th style="background-color:#6B2085; color:#fff">CALIDAD DE LA DIETA</th>
                              <th colspan="2" style="background-color:#FF5F5D; color:#fff">OBJETIVO nutricional (%)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Energía de proteínas</td>
                            <td><input ng-model="fourthWeekFormPatient.termObjectives" type="text" class="form-control"></td>
                            <td>Entre</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>Energía de lípidos</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Menos de</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>Energía de hidratos de carbono</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Más de</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                          <tr>
                            <td>Energía de alcohol</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Menos de</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                        </tbody>
                      </table>

                      <table class="table no-margin" style="margin-bottom:20px; width:55%">
                        <thead>
                          <tr>
                              <th style="background-color:#7F7F7F; color:#fff">PERFIL LIPÍDICO (Kcal)  </th>
                              <th style="background-color:#6B2085; color:#fff">CALIDAD DE LA DIETA</th>
                              <th colspan="2" style="background-color:#FF5F5D; color:#fff">OBJETIVO nutricional (%)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Energía AGS</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Entre</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>Energía AGM</td>
                            <td><input type="text" class="form-control"></td>
                            <td colspan="2" style="background-color:#FF5F5D; color:#fff">Resto de grasa</td>
                          </tr> 
                          <tr>
                            <td>Energía AGP</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Entre</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                          <tr>
                            <td>Colesterol (mg/día)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Menos de</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                        </tbody>
                      </table>

                      <table class="table no-margin" style="width:55%">
                        <thead>
                          <tr>
                              <th style="background-color:#7F7F7F; color:#fff">PARÁMETRO</th>
                              <th style="background-color:#6B2085; color:#fff">CALIDAD DE LA DIETA</th>
                              <th colspan="2" style="background-color:#FF5F5D; color:#fff">OBJETIVO nutricional</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Fibra dietética (mg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Entre</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>Sodio (mg)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Menos de</td>
                            <td><input type="text" class="form-control"></td>
                          </tr> 
                          <tr>
                            <td>Relación Calcio: Fósforo</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Entre</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>    
                          <tr>
                            <td>Relación vit E(mg)/AGP(g)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Más de</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>  
                          <tr>
                            <td>Relación vit B6(mg)/proteína(g)</td>
                            <td><input type="text" class="form-control"></td>
                            <td>Más de</td>
                            <td><input type="text" class="form-control"></td>
                          </tr>  
                          <tr>
                            <td>Indice de la Alimentación Saludable</td>
                            <td style="background-color:#7F7F7F; color:#fff" colspan="3">Muy mejorable</td>
                          </tr>    
                        </tbody>
                      </table>

                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">   
                      <md-input-container class="md-block">
                        <label>Rating trainer and coaching</label>
                        <textarea required
                        ng-model="fourthWeekFormPatient.coachingTraining" 
                        columns="1" 
                        name="coachingTraining" 
                        ng-maxlength="150"
                        md-maxlength="150"></textarea>
                        <div ng-messages="fourthWeekForm.coachingTraining.$error" multiple ng-if='fourthWeekForm.coachingTraining.$dirty'>
                          <div ng-message="maxlength">Rating trainer and coaching must contain less than 150 characters.</div>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>  
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <label>Adjusting the nutritional regimen depending on the genotype</label>
                        <textarea required
                        ng-model="fourthWeekFormPatient.genotypeRegime" 
                        columns="1" 
                        name="genotypeRegime" 
                        ng-maxlength="150"
                        md-maxlength="150"></textarea>
                        <div ng-messages="fourthWeekForm.genotypeRegime.$error" multiple ng-if='fourthWeekForm.genotypeRegime.$dirty'>
                          <div ng-message="maxlength">Genotype regime must contain less than 150 characters.</div>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container> 
                    </div>

                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="fourthWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

            <md-tab label="6th. Week" ng-disabled="tab_4_status" ng-click="switchTab(4)">
              <md-content class="md-padding">
                <form name="fivethWeekForm" class="form-horizontal form-validation" data-ng-submit="submitfivethWeekForm()">
                  <fieldset>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <label>Explanation of Nutgen Report (Tips)</label>
                        <input required 
                        type="text"
                        name="nutgenReportTips" 
                        ng-model="fivethWeekFormPatient.nutgenReportTips"/>
                        <div ng-messages="fivethWeekForm.nutgenReportTips.$error" multiple ng-if='fivethWeekForm.nutgenReportTips.$dirty'>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">
                      <md-input-container class="md-block">
                        <label>Establishing long-term goals</label>
                        <input required 
                        type="text"
                        name="longTermGoal" 
                        ng-model="fivethWeekFormPatient.longTermGoal"/>
                        <div ng-messages="fivethWeekForm.longTermGoal.$error" multiple ng-if='fivethWeekForm.longTermGoal.$dirty'>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>  
                    </div>

                    <div class="md-block simpleBlock md-whiteframe-6dp">    
                      <md-input-container class="md-block">
                        <label>Modification of nutritional guidelines and / or complementary treatments according to their genetic information</label>
                        <textarea required
                        ng-model="fivethWeekFormPatient.geneticInfo" 
                        columns="1" 
                        name="geneticInfo" 
                        ng-maxlength="150"
                        md-maxlength="150"></textarea>
                        <div ng-messages="fivethWeekForm.geneticInfo.$error" multiple ng-if='fivethWeekForm.geneticInfo.$dirty'>
                          <div ng-message="maxlength">Genetic information must contain less than 150 characters.</div>
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>  
                    </div>

                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="fivethWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>
            <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
            <md-tab label="9th. Week" ng-disabled="tab_5_status" ng-click="switchTab(5)">
              <md-content class="md-padding">
                <form name="sixthWeekForm" class="form-horizontal form-validation" data-ng-submit="submitsixthWeekForm()">
                  <fieldset>
                    <md-input-container class="md-block">
                      <label>Doubts report nutgen</label>
                      <input required 
                      type="text"
                      name="doubtsReport" 
                      ng-model="sixthWeekFormPatient.doubtsReport"/>
                      <div ng-messages="sixthWeekForm.doubtsReport.$error" multiple ng-if='sixthWeekForm.doubtsReport.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>

                    <div class="divider divider-md"></div>
                    <md-input-container class="md-block">
                      <label>Program monitoring</label>
                      <input required 
                      type="text"
                      name="programMontiring" 
                      ng-model="sixthWeekFormPatient.programMontiring"/>
                      <div ng-messages="sixthWeekForm.programMontiring.$error" multiple ng-if='sixthWeekForm.programMontiring.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>      
                    <md-input-container class="md-block">
                      <label>Advice according to particular needs</label>
                      <textarea required
                      ng-model="sixthWeekFormPatient.particularNeeds" 
                      columns="1" 
                      name="particularNeeds" 
                      ng-maxlength="150"
                      md-maxlength="150"></textarea>
                      <div ng-messages="sixthWeekForm.particularNeeds.$error" multiple ng-if='sixthWeekForm.particularNeeds.$dirty'>
                        <div ng-message="maxlength">Particular needs must contain less than 150 characters.</div>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>  
                    <md-input-container class="md-block">
                      <label>New menu</label>
                      <input required 
                      type="text"
                      name="newMenu" 
                      ng-model="sixthWeekFormPatient.newMenu"/>
                      <div ng-messages="sixthWeekForm.newMenu.$error" multiple ng-if='sixthWeekForm.newMenu.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>   
                    <md-input-container class="md-block">
                      <label>Review the degree of compliance of nutritional guidelines</label>
                      <textarea required
                      ng-model="sixthWeekFormPatient.nutritionalGuidelines" 
                      columns="1" 
                      name="nutritionalGuidelines" 
                      ng-maxlength="150"
                      md-maxlength="150"></textarea>
                      <div ng-messages="sixthWeekForm.nutritionalGuidelines.$error" multiple ng-if='sixthWeekForm.nutritionalGuidelines.$dirty'>
                        <div ng-message="maxlength">Nutritional guidelines must contain less than 150 characters.</div>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>                                          
                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="sixthWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

            <md-tab label="12th. Week" ng-disabled="tab_6_status" ng-click="switchTab(6)">
              <md-content class="md-padding">
                <form name="seventhWeekForm" class="form-horizontal form-validation" data-ng-submit="submitSeventhWeekForm()">
                  <fieldset>
                    <md-input-container class="md-block">
                      <label>Visit Control</label>
                      <input required 
                      type="text"
                      name="visitControl" 
                      ng-model="seventhWeekFormPatient.visitControl"/>
                      <div ng-messages="seventhWeekForm.visitControl.$error" multiple ng-if='seventhWeekForm.visitControl.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>

                    <div class="divider divider-md"></div>
                    <md-input-container class="md-block">
                      <label>Anthropometry and blood pressure.</label>
                      <input required 
                      type="text"
                      name="bloodPressure" 
                      ng-model="seventhWeekFormPatient.bloodPressure"/>
                      <div ng-messages="seventhWeekForm.bloodPressure.$error" multiple ng-if='seventhWeekForm.bloodPressure.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>      
                    <md-input-container class="md-block">
                      <label>New menu</label>
                      <input required 
                      type="text"
                      name="newMenu" 
                      ng-model="sixthWeekFormPatient.newMenu"/>
                      <div ng-messages="sixthWeekForm.newMenu.$error" multiple ng-if='sixthWeekForm.newMenu.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>    
                    <md-input-container class="md-block">
                      <label>Questions or troubleshooting</label>
                      <input required 
                      type="text"
                      name="questionTroubles" 
                      ng-model="sixthWeekFormPatient.questionTroubles"/>
                      <div ng-messages="sixthWeekForm.questionTroubles.$error" multiple ng-if='sixthWeekForm.questionTroubles.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>                               
                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="seventhWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

            <md-tab label="16th. Week" ng-disabled="tab_7_status" ng-click="switchTab(7)">
              <md-content class="md-padding">
                <form name="eighthWeekForm" class="form-horizontal form-validation" data-ng-submit="submitEighthWeekForm()">
                  <fieldset>
                    <md-input-container class="md-block">
                      <label>Visit Control</label>
                      <input required 
                      type="text"
                      name="visitControl" 
                      ng-model="eighthWeekFormPatient.visitControl"/>
                      <div ng-messages="eighthWeekForm.visitControl.$error" multiple ng-if='eighthWeekForm.visitControl.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>

                    <div class="divider divider-md"></div>
                    <md-input-container class="md-block">
                      <label>Anthropometry and blood pressure.</label>
                      <input required 
                      type="text"
                      name="bloodPressure" 
                      ng-model="eighthWeekFormPatient.bloodPressure"/>
                      <div ng-messages="eighthWeekForm.bloodPressure.$error" multiple ng-if='eighthWeekForm.bloodPressure.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>      
                    <md-input-container class="md-block">
                      <label>Analytical Results</label>
                      <input required 
                      type="text"
                      name="analyticalResult" 
                      ng-model="eighthWeekFormPatient.analyticalResult"/>
                      <div ng-messages="eighthWeekFormPatient.analyticalResult.$error" multiple ng-if='eighthWeekFormPatient.analyticalResult.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>     
                    <md-input-container class="md-block">
                      <label>Changing the menu</label>
                      <input required 
                      type="text"
                      name="changeMenu" 
                      ng-model="eighthWeekFormPatient.changeMenu"/>
                      <div ng-messages="eighthWeekForm.changeMenu.$error" multiple ng-if='eighthWeekForm.changeMenu.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>        
                    <md-input-container class="md-block">
                      <label>Assess compliance objectives</label>
                      <input required 
                      type="text"
                      name="compilanceObj" 
                      ng-model="eighthWeekFormPatient.compilanceObj"/>
                      <div ng-messages="eighthWeekForm.compilanceObj.$error" multiple ng-if='eighthWeekForm.compilanceObj.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>        
                    <md-input-container class="md-block">
                      <label>Questions or troubleshooting</label>
                      <input required 
                      type="text"
                      name="questionTroubles" 
                      ng-model="eighthWeekFormPatient.questionTroubles"/>
                      <div ng-messages="eighthWeekForm.questionTroubles.$error" multiple ng-if='eighthWeekForm.questionTroubles.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>                              
                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="eighthWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

            <md-tab label="20th. Week" ng-disabled="tab_8_status" ng-click="switchTab(8)">
              <md-content class="md-padding">
              <form name="ninthWeekForm" class="form-horizontal form-validation" data-ng-submit="submitNinthWeekForm()">
                  <fieldset>
                    <md-input-container class="md-block">
                      <label>Visit Control</label>
                      <input required 
                      type="text"
                      name="visitControl" 
                      ng-model="ninthWeekForm.visitControl"/>
                      <div ng-messages="ninthWeekForm.visitControl.$error" multiple ng-if='ninthWeekForm.visitControl.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                      <label>New menu</label>
                      <input required 
                      type="text"
                      name="newMenu" 
                      ng-model="ninthWeekFormPatient.newMenu"/>
                      <div ng-messages="ninthWeekForm.newMenu.$error" multiple ng-if='ninthWeekForm.newMenu.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>    
                    <md-input-container class="md-block">
                      <label>Changing the menu</label>
                      <input required 
                      type="text"
                      name="changeMenu" 
                      ng-model="ninthWeekFormPatient.changeMenu"/>
                      <div ng-messages="ninthWeekForm.changeMenu.$error" multiple ng-if='ninthWeekForm.changeMenu.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container> 
                    <md-input-container class="md-block">
                      <label>Anthropometry and blood pressure.</label>
                      <input required 
                      type="text"
                      name="bloodPressure" 
                      ng-model="ninthWeekForm.bloodPressure"/>
                      <div ng-messages="ninthWeekForm.bloodPressure.$error" multiple ng-if='ninthWeekForm.bloodPressure.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>      
                    <md-input-container class="md-block">
                      <label>Analytical Results</label>
                      <input required 
                      type="text"
                      name="analyticalResult" 
                      ng-model="ninthWeekFormPatient.analyticalResult"/>
                      <div ng-messages="ninthWeekFormPatient.analyticalResult.$error" multiple ng-if='ninthWeekFormPatient.analyticalResult.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>     
                    <md-input-container class="md-block">
                      <label>Changing the menu</label>
                      <input required 
                      type="text"
                      name="changeMenu" 
                      ng-model="ninthWeekFormPatient.changeMenu"/>
                      <div ng-messages="ninthWeekForm.changeMenu.$error" multiple ng-if='ninthWeekForm.changeMenu.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>        
                    <md-input-container class="md-block">
                      <label>Compliance assessment objectives</label>
                      <input required 
                      type="text"
                      name="compilanceObj" 
                      ng-model="ninthWeekFormPatient.compilanceObj"/>
                      <div ng-messages="ninthWeekForm.compilanceObj.$error" multiple ng-if='ninthWeekForm.compilanceObj.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>        
                    <md-input-container class="md-block">
                      <label>Acquisition of habits</label>
                      <input required 
                      type="text"
                      name="acquisitionHabits" 
                      ng-model="ninthWeekFormPatient.acquisitionHabits"/>
                      <div ng-messages="ninthWeekForm.acquisitionHabits.$error" multiple ng-if='ninthWeekForm.acquisitionHabits.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>   
                    <md-input-container class="md-block">
                      <label>Blood tests to see the changes</label>
                      <input required 
                      type="text"
                      name="bloodTestsChanges" 
                      ng-model="ninthWeekForm.bloodTestsChanges"/>
                      <div ng-messages="ninthWeekForm.bloodTestsChanges.$error" multiple ng-if='ninthWeekForm.bloodTestsChanges.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>       
                    <md-input-container class="md-block">
                      <label>Questions or troubleshooting</label>
                      <input required 
                      type="text"
                      name="questionTroubles" 
                      ng-model="ninthWeekForm.questionTroubles"/>
                      <div ng-messages="ninthWeekForm.questionTroubles.$error" multiple ng-if='ninthWeekForm.questionTroubles.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>                               
                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="ninthWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

            <md-tab label="24th. Week" ng-disabled="tab_9_status" ng-click="switchTab(9)">
              <md-content class="md-padding">
              <form name="tenthWeekForm" class="form-horizontal form-validation" data-ng-submit="submiTenthWeekForm()">
                  <fieldset>
                    <md-input-container class="md-block">
                      <label>Visit Control</label>
                      <input required 
                      type="text"
                      name="visitControl" 
                      ng-model="tenthWeekFormPatient.visitControl"/>
                      <div ng-messages="tenthWeekForm.visitControl.$error" multiple ng-if='tenthWeekForm.visitControl.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container> 

                    <md-input-container class="md-block">
                      <label>New menu</label>
                      <input required 
                      type="text"
                      name="newMenu" 
                      ng-model="tenthWeekFormPatient.newMenu"/>
                      <div ng-messages="tenthWeekForm.newMenu.$error" multiple ng-if='tenthWeekForm.newMenu.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>    
                    <md-input-container class="md-block">
                      <label>Analytical comparison final and initial</label>
                      <input required 
                      type="text"
                      name="analyticalComparison" 
                      ng-model="tenthWeekFormPatient.analyticalComparison"/>
                      <div ng-messages="tenthWeekFormPatient.analyticalComparison.$error" multiple ng-if='tenthWeekFormPatient.analyticalComparison.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>     

                    <md-input-container class="md-block">
                      <label>Anthropometry and blood pressure.</label>
                      <input required 
                      type="text"
                      name="bloodPressure" 
                      ng-model="tenthWeekFormPatient.bloodPressure"/>
                      <div ng-messages="tenthWeekForm.bloodPressure.$error" multiple ng-if='tenthWeekForm.bloodPressure.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>      

                    <md-input-container class="md-block">
                      <label>Assess long-term goals</label>
                      <input required 
                      type="text"
                      name="assessGoals" 
                      ng-model="tenthWeekFormPatient.assessGoals"/>
                      <div ng-messages="tenthWeekForm.assessGoals.$error" multiple ng-if='tenthWeekForm.assessGoals.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>          
                    <md-input-container class="md-block">
                      <label>Acquisition of habits</label>
                      <input required 
                      type="text"
                      name="acquisitionHabits" 
                      ng-model="tenthWeekFormPatient.acquisitionHabits"/>
                      <div ng-messages="tenthWeekForm.acquisitionHabits.$error" multiple ng-if='tenthWeekForm.acquisitionHabits.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>    
                    <md-input-container class="md-block">
                      <label>Questions or problem solving</label>
                      <input required 
                      type="text"
                      name="questionProb" 
                      ng-model="tenthWeekFormPatient.questionProb"/>
                      <div ng-messages="tenthWeekForm.questionProb.$error" multiple ng-if='tenthWeekForm.questionProb.$dirty'>
                        <div ng-message="required">This is required.</div>
                      </div>
                    </md-input-container>                        
                    <md-button type="submit"
                    class="md-raised btn-w-md md-primary"
                    data-ng-disabled="tenthWeekForm.$invalid">Save</md-button>
                    <md-button class="btn-w-md" data-ng-click="reset()">Reset</md-button>
                  </fieldset>
                </form>
              </md-content>
            </md-tab>

          </md-tabs>

        </md-content>

      </div>
      <div class="col-md-12">
        <div style="float: right;padding: 12px;">
          <button style="float: left;margin-right: 10px;" ng-disabled="!perivousButton" class="md-raised btn-w-md md-primary md-button md-ink-ripple" type="button" ng-click="previousTab()"><span class="ng-scope">Previous</span><div class="md-ripple-container" ></div></button>
          <button ng-disabled="!nextButton" class="md-raised btn-w-md md-primary md-button md-ink-ripple" type="button" ng-click="nextTab()"><span class="ng-scope">Next</span><div class="md-ripple-container" ></div></button>
        </div>
      </div>
    </div>
  </div>