<div class="nav-wrapper" ng-if="domainexsistance" ng-controller="DashboardCtrl">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
    <li class="nav-title"> <span "NAVIGATION"></span> </li>
    <li>
        <a md-button aria-label="meanu" href="#/dashboard">

            <i class="material-icons">home</i>
            <span data-translate="DASHBOARD"></span>
        </a>
    </li>
    <li>
        <a md-button aria-label="meanu" href="#/patient">
            <i class="material-icons">perm_identity</i>
            <span data-translate="PATIENT"></span>
        </a>
        <ul>
            <li><a md-button aria-label="meanu" href="#/patientList">
                    <i class="fa fa-circle"></i>
                    <span data-translate="PATIENT LIST"></span>
                </a>
            </li>
            <li>
                <a md-button aria-label="meanu" href="#/treatementList">
                    <i class="fa fa-circle"></i>
                    <span data-translate="TREATEMENT LIST"></span>
                </a>
            </li>
        </ul>
    </li>
     <li>
        <a md-button aria-label="meanu" href="#/admin">
            <i class="material-icons">local_hospital</i>
            <span data-translate="CLINIC"></span>
        </a>
        <ul>
            <li>
                <a md-button aria-label="meanu" href="#/clinic">
                    <i class="fa fa-circle"></i>
                    <span data-translate="CLINIC LIST"></span>
                </a>
            </li>
        </ul>
    </li>
    <li class="nav-divider"></li>
    <li ng-show="connecteduser.role == 'MANAGER' || connecteduser.role == 'ADMIN'">
        <a md-button aria-label="meanu" href="#/admin">
            <i class="material-icons">supervisor_account</i>
            <span data-translate="ADMIN"></span>
        </a>
        <ul>
            <li>
                <a md-button aria-label="meanu" href="#/knowledgeTable">
                    <i class="fa fa-circle"></i>
                    <span data-translate="KNOWLEDGE"></span>
                </a>
            </li>
            <li>
                <a md-button aria-label="meanu" href="#/paramTable">
                    <i class="fa fa-circle"></i>
                    <span data-translate="CONFIGURATION TABLE"></span>
                </a>
            </li>
            <li>
                <a md-button aria-label="meanu" href="#/userManagement">
                    <i class="fa fa-circle"></i>
                    <span data-translate="USERS MANAGEMENT"></span>
                </a>
            </li>
        </ul>
    </li>
</ul>
</div>
