<style>
  .col-md-12{
   zoom:0.85;
  }
</style>
<div ng-controller="treatementListCtrl" class="page page-table">

    <div class="appraisalButton">
        <md-button aria-label="accounts-add" class="md-fab" ng-click="newTreatment()" style="background-color: #262B33 !important;">
        <span class="material-icons" style="vertical-align:middle">add</span>
        </md-button>
    </div>

   <div class="row ui-section">
        <div class="col-lg-8 clearfix">

            <h2 class="section-header">
              <span data-translate="TREATEMENT LIST"></span>
            </h2>
        </div>
         <div class="col-lg-4 clearfix">
            <form style="padding: 30px 0px;">
            <input type="text"
                 placeholder="Search..."
                 class="form-control"
                 data-ng-model="searchKeywords"
                 data-ng-keyup="search()">
            </form>
        </div>
        <div class="table-filters">
                <div class="row">

            </div>
        <div class="col-md-12">

        <section class="panel panel-default table-dynamic">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>
                  <div class="th">
                    <center><span data-translate="PATIENT ID"></span></center>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="PATIENT NAME"></span></center>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="SESSION NUMBER"></span></center>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="STATUS"></span></center>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="TREATMENT NUMBER"></span></center>
                  </div>
                </th>
                <th>
                  <div class="th">
                    <center><span data-translate="TREATMENT DATE"></span></center>
                  </div>
                </th>
                <th>
                  <div class="th"></div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="treatment in treatmentList" ng-if="connecteduser.role =='ADMIN' || connecteduser.role =='MANAGER' || treatment.userId == connecteduser.email">
                <td ng-click="viewTreatmentDetails(treatment)"><center>{{treatment.patientId}}</center></td>
                 <td ng-click="viewTreatmentDetails(treatment)"><center>{{treatment.patientName}}</center></td>
                <td ng-click="viewTreatmentDetails(treatment)"><center>{{treatment.sessionNb}}</center></td>
                <td ng-click="viewTreatmentDetails(treatment)"><center>{{treatment.status}}</center></td>
                <td ng-click="viewTreatmentDetails(treatment)"><center>{{treatment.treatementNb}}</center></td>
                <td ng-click="viewTreatmentDetails(treatment)"><center>{{treatment.treatmentDate | date:'MM-dd-yyyy'}}</center></td>
                <td>
                  <div>
                    <a href="#/sessionList/{{treatment.id}}/{{treatment.offer}}" style="text-decoration: none;color: #3d4051;">
                      <span class="zmdi zmdi-edit" style="margin-right: 10px;">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible1">
                          <span data-translate="EDIT TREATMENT"></span>
                        </md-tooltip>
                      </span>
                    </a>
                    <span class="zmdi zmdi-delete" ng-click="deleteTreatment(treatment)">
                      <md-tooltip md-direction="top" md-visible="tooltipVisible3">
                        <span data-translate="DELETE TRAITEMENT"></span>
                      </md-tooltip>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                  <span data-translate="SHOW"></span>
                  <select data-ng-model="numPerPage"
                      data-ng-options="num for num in numPerPageOpt"
                      data-ng-change="onNumPerPageChange()">
                  </select> 
                  <span data-translate="ENTRIES PER PAGE"></span>
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredStores.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
  </div>
</div>
