
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
    .md-toolbar-tools {
        background-color: #007ac7;
    }
</style>

<md-dialog aria-label="New Project Form" role="form" flex="45">

    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Inviter un utilisateur</h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="userForm" novalidate>
            <div layout layout-sm="column">
                <md-input-container flex   class="md-block">
                    <label>Email</label>
                    <md-icon md-svg-src="images\addUserImages\email.svg" class="name"></md-icon>
                    <input  required  name="email" type="email" ng-model="user.userId"
                        minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" role="alert">
                    <div ng-messages="userForm.email.$error">
                        <div ng-message-exp="['required','minlength','maxlength','pattern']">
                                Entrez un Email valide !!
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex   class="md-block">
                    <label>Nom et prénom</label>
                    <md-icon  md-svg-src="images\addProjectImages\account-card-details.svg" class="name"></md-icon>
                    <input  required  name="name" type="name" ng-model="user.displayName"
                        minlength="3" maxlength="100" role="alert">
                    <div ng-messages="userForm.name.$error">
                        <div ng-message-exp="['required','minlength','maxlength','pattern']">
                                Entrez un Nom valide !!
                        </div>
                    </div>
                </md-input-container>
            </div>
            
            <div layout layout-sm="column">
                <md-input-container flex  class="md-block">
                    <md-icon md-svg-src="images\addCustomerImages\content-paste.svg" class="name"></md-icon>
                    </md-icon>
                    <md-select ng-model='user.role' placeholder="Select a role" ng-required="true" flex>
                        <md-option value="admin">Administrateur</md-option>
                        <md-option value="account_manager">Gestionnaire de compte</md-option>
                        <md-option value="general_supervisor">Superviseur général</md-option>
                        <md-option value="local_admin">Administrateur local</md-option>
                        <md-option value="user">Utilisateur</md-option>
                        <md-option value="integrator">Intégrateur</md-option>
                        <md-option value="service_center">Centre de Service</md-option>
                    </md-select>
            </div>

            <md-input-container layout layout-sm="column" style="margin-bottom:50px" ng-if="user.role == 'local_admin' || user.role == 'user'" flex>
                <label> 
                  Agence
                </label>
                <md-icon><i class="zmdi zmdi-city"></i></md-icon>
                <md-select ng-model="agenceID.id" style="margin-left: 2px;width: 100%;">
                  <md-option ng-repeat="item in agencyList" ng-value="item.id">{{item.name}}
                  </md-option>
                </md-select>
            </md-input-container>

            <div class="modal-footer">
                <button ui-wave class="md-raised btn-w-md md-button md-ink-ripple whiteButton" ng-click="cancel()">Cancel</button>
                <button ui-wave class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="userForm.$valid && adduser()" style="background-color: #007ac7;">Ajouter Utilisateur</button>
            </div>
        </form>
    </md-content>
</md-dialog>
