<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
</style>

<md-dialog aria-label="Send Message Form" role="form" flex="45">

    <md-toolbar class="md-primary" style="background:#007ac7">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">
            Expédier
            </h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="agencyForm" novalidate>

            <div layout="" layout-sm="column" class="layout-sm-column layout-row">
                <md-input-container flex="" class="flex">
                    <label>Agence</label>
                    <md-select ng-model="agency.id">
                        <md-option ng-repeat="item in agencyList" ng-value="item.id">{{item.name}}</md-option>
                      </md-select>
                </md-input-container>
            </div>
            
            <div class="modal-footer">
                <button ui-wave class="md-raised btn-w-md md-button md-ink-ripple whiteButton" ng-click="cancel()">Annuler</button>
                <button ui-wave class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="agencyForm.$valid && chooseAgency()">Envoyer</button>
            </div>
        </form>
    </md-content>
</md-dialog>