
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
    .md-toolbar-tools {
        background-color: #007ac7;
    }
</style>

<md-dialog aria-label="New Project Form" role="form" flex="45">

    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Ajouter un Wifi</h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="userForm" novalidate>
            <div layout layout-sm="column">
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Nom du Wifi</label>
                        <input  name="email" type="text" ng-model="wifi.name"
                           role="alert">
                    </md-input-container>
                </div>

                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>SSID</label>
                        <input  name="email" type="text" ng-model="wifi.networkSsid"
                           role="alert">
                    </md-input-container>
                </div>

                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Sécurité</label>
                        <input  name="email" type="text" ng-model="wifi.security"
                           role="alert">
                    </md-input-container>
                </div>
            </div>

            <div layout layout-sm="column">
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Method</label>
                        <input  name="email" type="text" ng-model="wifi.epaMethod"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Authentification</label>
                        <input  name="email" type="text" ng-model="wifi.phase2Auth"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Mot de passe</label>
                        <input  name="email" type="text" ng-model="wifi.password"
                           role="alert">
                    </md-input-container>
                </div>
            </div>

            <div layout layout-sm="column">
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Identité</label>
                        <input  name="email" type="text" ng-model="wifi.identity"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Configuration Proxy</label>
                        <input  name="email" type="text" ng-model="wifi.proxySetting"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Nom du Proxy</label>
                        <input  name="email" type="text" ng-model="wifi.proxyHostName"
                           role="alert">
                    </md-input-container>
                </div>
            </div>

            <div layout layout-sm="column">
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Port Proxy</label>
                        <input name="email" type="text" ng-model="wifi.proxyPort"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>bypass Proxy</label>
                        <input name="email" type="text" ng-model="wifi.bypassProxyFor"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Configuration IP</label>
                        <input name="email" type="text" ng-model="wifi.ipSetting"
                           role="alert">
                    </md-input-container>
                </div>
            </div>

            <div layout layout-sm="column">
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Prefix</label>
                        <input name="email" type="text" ng-model="wifi.networkPrefixLength"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Adresse IP</label>
                        <input name="email" type="text" ng-model="wifi.ipAddress"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Gateway</label>
                        <input name="email" type="text" ng-model="wifi.gateway"
                           role="alert">
                    </md-input-container>
                </div>
            </div>

            <div layout layout-sm="column">
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>DNS 1</label>
                        <input name="email" type="text" ng-model="wifi.dns1"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>DNS 2</label>
                        <input name="email" type="text" ng-model="wifi.dns2"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "33">
                    <md-input-container flex   class="md-block">
                        <label>Certificat ca</label>
                        <input name="email" type="text" ng-model="wifi.caCertificate"
                           role="alert">
                    </md-input-container>
                </div>
            </div>

            <div layout layout-sm="column">
                <div flex = "50">
                    <md-input-container flex   class="md-block">
                        <label>Identité anonyme</label>
                        <input name="email" type="text" ng-model="wifi.anonymousIdendity"
                           role="alert">
                    </md-input-container>
                </div>
                <div flex = "50">
                    <md-input-container flex   class="md-block">
                        <label>Ordre de priorité</label>
                        <input name="email" type="text" ng-model="wifi.priorityOrder"
                           role="alert">
                    </md-input-container>
                </div>
            </div>

            <div style="display: flex; display:none">
                <ng-csv-import content="csv.content" header="csv.header" separator="csv.separator" result="csv.result" encoding="csv.encoding" encodingVisible="csv.encodingVisible" accept="csv.accept" style="margin: 1px 4px 4px -8px;"></ng-csv-import> 
                  <md-button aria-label="Upload" class="md-raised btn-w-md md-primary" ng-disabled="progressCircularUpload" ng-click="importConfigFile()" style="margin: 0px 8px;padding: 0;height: 36px;margin-top: 12px">Exporter Ficher
                  </md-button>
            </div>

            <div class="modal-footer">
                <button ui-wave class="md-raised btn-w-md md-button md-ink-ripple whiteButton" ng-click="cancel()">Annuler</button>
                <button ui-wave class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="editWifi()" style="background-color: #007ac7;">Modifier</button>
            </div>
        </form>
    </md-content>
</md-dialog>