<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
</style>

<md-dialog aria-label="Send Message Form" role="form" flex="45">

    <md-toolbar class="md-primary" style="background:#007ac7">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">
            Envoyer un message
            </h2>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="messageForm" novalidate>
            <div layout="" layout-sm="column" class="layout-sm-column layout-row">
                <md-input-container flex="" class="flex">
                    <label for="input_9">Titre</label>
                    <input ng-model="msg.title" class="ng-pristine ng-valid md-input ng-touched" id="input_9" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>
                <md-input-container flex="" class="flex">
                    <label>Type</label>
                    <md-select ng-model="msg.type">
                        <md-option ng-repeat="item in type" ng-value="item">{{item}}</md-option>
                      </md-select>
                </md-input-container>
            </div>
            <md-input-container class="md-block md-input-has-value" style="height: auto;">
                <label for="input_17">Message</label>
                <textarea ng-model="msg.content" columns="1" id="input_17" rows="1" aria-multiline="true" aria-invalid="false" ng-trim="false" style="height: 81px;"></textarea>
            </md-input-container>
            
            <div class="modal-footer">
                <button ui-wave class="md-raised btn-w-md md-button md-ink-ripple whiteButton" ng-click="cancel()">Annuler</button>
                <button ui-wave class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="messageForm.$valid && sendMessage()">Envoyer</button>
            </div>
        </form>
    </md-content>
</md-dialog>