
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
    .md-toolbar-tools {
        background-color: #007ac7;
    }
</style>

<md-dialog aria-label="New Project Form" role="form" flex="45">

 <md-toolbar class="md-primary">
   <div class="md-toolbar-tools">
     <h2 class="md-flex">Mettre à jour l'utilisateur</h2>
   </div>
 </md-toolbar>


 <md-content class="md-padding">


        <form name="userForm" novalidate>

            <div layout layout-sm="column">
                 <md-input-container flex class="md-block">
                    <label>Email </label>
                    <md-icon><i class="material-icons">email</i></md-icon>
                    <input required name="email" type="email"  ng-model="user.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" role="alert" ng-disabled="true">
                     <div ng-messages="userForm.email.$error">
                         <div ng-message-exp="['required','minlength','maxlength','pattern']">
                             Entrez un Email valide !!
                         </div>
                     </div>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex class="md-block">
                    <label>Nom et prénom </label>
                    <md-icon><i class="material-icons">contacts</i></md-icon>
                    <input required name="name" type="name" ng-model="user.displayName"
                        minlength="3" maxlength="100" role="alert">
                    <div ng-messages="userForm.name.$error">
                        <div ng-message-exp="['required','minlength','maxlength','pattern']">
                            Entrez un Nom valide !!
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex  class="md-block">
                    <md-icon><i class="material-icons">storage</i></md-icon>

                    <md-select ng-model='user.role' placeholder="Select a role" ng-required="true" flex>       
                        <md-option ng-repeat="item in rolesObj" ng-value="item.value">{{item.name}} </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <!--
            <md-input-container layout layout-sm="column" style="margin-bottom:50px" ng-if="user.role == 'NUTRITIONIST'" flex>
                <label> 
                  <span data-translate="CLINIC"></span>
                </label>
                <md-icon><i class="material-icons">local_hospital</i></md-icon>
                <md-select ng-model="clinicID.id" style="margin-left: 2px;width: 100%;">
                  <md-option ng-repeat="item in clinics" ng-value="item.id">{{item.nom}}
                  </md-option>
                </md-select>
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex   class="md-block" ng-if="user.role == 'NUTRITIONIST'">
                    <label>
                        <span data-translate="N° IDENTIFICATION"></span>
                    </label>
                    <md-icon  md-svg-src="images\addProjectImages\account-card-details.svg" class="name"></md-icon>
                    <input  required  name="nutritionistId" type="text" ng-model="user.nutritionistId"
                        minlength="3" maxlength="100" role="alert">
                    <div ng-messages="userForm.nutritionistId.$error">
                        <div ng-message-exp="['required','minlength','maxlength','pattern']">
                                <span data-translate="PLEASE ENTER A VALID N° IDENTIFICATION "></span> !!
                        </div>
                    </div>
                </md-input-container>
            </div>
            -->
            <div class="modal-footer">
                <button ui-wave class="md-raised btn-w-md md-button md-ink-ripple whiteButton" ng-click="cancel()">Cancel</button>
                <button ui-wave class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="userForm.$valid && updateUser()" style="background-color: #007ac7;">Valider</button>
            </div>

        </form>
    </md-content>
</md-dialog>



