<style>
  .col-md-12{
   zoom:0.85;
  }
</style>
<div ng-controller="agencyCtrl" class="page page-table">
  <div class="appraisalButton">
    <md-button aria-label="accounts-add" class="md-fab" ng-click="addAgency()" style="background-color: #262B33 !important;">
    <i class="zmdi zmdi-plus"></i>
    </md-button>
  </div>
  
  <div class="row ui-section">
    <div class="col-lg-4 clearfix">
      <h2 class="section-header">
              Liste des agences
      </h2>
    </div>

    <div class="col-lg-8 clearfix">
      <div class="col-lg-6" style="margin-top: 18px;">
      </div>

      <form style="padding: 30px 0px" class="col-lg-6" >
        <input type="text"
               placeholder="Chercher..."
               class="form-control"
               data-ng-model="searchKeywords"
               data-ng-keyup="search()">
      </form>          
    </div>

    <div class="table-filters">
      <div class="row">
      </div>
      <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
          <table class="table no-margin">
            <thead>
              <tr>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'trigramme'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>Trigramme <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'name'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>Nom Agence <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'code'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>Code <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'address'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>Adresse <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'respEmail'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>Email Responsable <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff; width: 200px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="agence in agencyList | orderBy:sortType:sortReverse | filter:searchKeywords ">

                <td ng-click ="goToAgencyDetails(agence.id)">
                  <div>
                    <center>{{agence.trigramme}}</center>
                  </div>
                </td> 

                <td ng-click ="goToAgencyDetails(agence.id)">
                  <div>
                    <center>{{agence.name}}</center>
                  </div>
                </td>

                <td ng-click ="goToAgencyDetails(agence.id)">
                  <div>
                    <center>{{agence.code}}</center>
                  </div>
                </td>

                <td ng-click ="goToAgencyDetails(agence.id)">
                  <div>
                    <center>{{agence.address}}</center>
                  </div>
                </td>

                <td ng-click ="goToAgencyDetails(agence.id)">
                  <div>
                    <center>{{agence.respEmail}}</center>
                  </div>
                </td>

                <td>
                 <div>
                    <span class="zmdi zmdi-delete" ng-click="deleteAgency(agence.id)">
                      <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                        Supprimer l'agence
                      </md-tooltip>
                    </span>
                  </div>
                </td>

              </tr> 
              
            </tbody>
          </table>
          <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                  Afficher
                  <select data-ng-model="numPerPage"
                      data-ng-options="num for num in numPerPageOpt"
                      data-ng-change="onNumPerPageChange()">
                  </select> 
                  Inscriptions par page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredStores.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
        </fieldset>
    </div>
  </div>
</div>
