
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
    md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
        color: rgb(0, 122, 199);
        background: rgb(0, 122, 199);
    }
    input[type="file"] {
      margin-top: 9px;
      margin-left: 7px;
      padding: 0px 12px;
      border: 1px solid rgba(0, 0, 0, 0.17);
      font-size: 14px;
    }
    ::-webkit-file-upload-button {
      border-radius: 3px !important;
      box-sizing: border-box;
      color: currentColor;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
      outline: none;
      border: 0;
      display: inline-block;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 6px;
      margin: 2px -10px;
      line-height: 20px;
      min-height: 36px;
      background: transparent;
      white-space: nowrap;
      min-width: 88px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      font-style: inherit;
      font-variant: inherit;
      font-family: inherit;
      text-decoration: none;
      cursor: pointer;
      overflow: hidden;
      background-color: rgb(3, 114, 229);
      color: rgba(255, 255, 255, 1);
    }
</style>
<div class="page page-table" data-ng-controller="agencyAddCtrl">
  <div class="col-lg-8 clearfix">
      <h2 class="section-header">
        Ajouter une agence
      </h2>
  </div>
  <div class="col-md-12">
    
    <md-content class="md-padding" style="margin-top:30px">
      <md-tabs md-dynamic-height="" md-selected="selectedTabIndex" md-border-bottom="" style = "margin: -15px;">
        <md-tab  ng-click="switchTab(0)" >
          <md-tab-label>
            Informations Générales
          </md-tab-label>
          <md-tab-body>          
            <form name="clinicForm" class="form-horizontal form-validation" data-ng-submit="addAgency(agency)">
              <fieldset>
                <!--INFORMATIONS GENERALES-->
                <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px">
                  <div layout layout-sm="column">
                    <div flex="100">
                      <div layout layout-sm="column">
                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  Nom de l'agence
                              </label>
                              <input name="name" type="text" ng-model="agency.name"
                                 role="alert">
                          </md-input-container>     
                        </div>
                        
                        <div flex="50"> 
                          <md-input-container class="md-block">
                            <label>
                              Code de l'agence
                            </label>
                            <input 
                            type="text"
                            name="code" 
                            ng-model="agency.code"/>
                          </md-input-container>   
                        </div>
                      </div>

                      <div layout layout-sm="column">
                        <div flex="50">
                          <md-input-container flex   class="md-block">
                              <label>
                                 Trigramme
                              </label>
                              <input name="address" type="text" ng-model="agency.trigramme">
                          </md-input-container>
                        </div>

                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  Email du responsable
                              </label>
                              <input name="respEmail" type="text" ng-model="agency.respEmail" role="alert">
                          </md-input-container>
                        </div>
                      </div>

                      <div layout layout-sm="column">
                        <div flex="100">
                          <md-input-container class="md-block">
                              <label>
                                  Adresse
                              </label>
                              <input name="name" type="text" ng-model="agency.address"
                                 role="alert">
                          </md-input-container>     
                        </div>
                      </div>
                      <!--
                      <div layout layout-sm="column">                
                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  Longitude
                              </label>
                              <input name="name" type="text" ng-model="agency.longitude"
                                 role="alert">
                          </md-input-container>     
                        </div>
                        
                        <div flex="50"> 
                          <md-input-container class="md-block">
                            <label>
                              Latitude
                            </label>
                            <input 
                            type="text"
                            name="code" 
                            ng-model="agency.latitude"/>
                          </md-input-container>   
                        </div>
                      </div>
                      -->
                    </div>

                  </div>
                  <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#039be5;">Save</md-button>
                </div>
                <br><br>                    
                
              </fieldset>
            </form>
          </md-tab-body>
        </md-tab>

        <!--INFORMATIONS RESEAUX
        <md-tab  ng-click="switchTab(0)" >
          <md-tab-label>
            Informations WIFI
          </md-tab-label>
          <md-tab-body> 

            <!-- IF CONNEXION IS WIFI
            <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px">
              <div style="display: flex">
                <ng-csv-import content="csv.content" header="csv.header" separator="csv.separator" result="csv.result" encoding="csv.encoding" encodingVisible="csv.encodingVisible" accept="csv.accept" style="margin: 1px 4px 4px -8px;"></ng-csv-import> 
                  <md-button aria-label="Upload" class="md-raised btn-w-md md-primary" ng-disabled="progressCircularUpload" ng-click="importConfigFile()" style="margin: 0px 8px;padding: 0;height: 36px;margin-top: 12px">Exporter Ficher
                  </md-button>
              </div>

              <table class="table no-margin">
                <thead>
                  <tr>
                    <td style="background-color:#0372e5; color:#fff">Type</td>
                    <td style="background-color:#0372e5; color:#fff">Mot de passe</td>
                    <td style="background-color:#0372e5; color:#fff">Masque sous réseau</td>
                    <td style="background-color:#0372e5; color:#fff">DNS</td>
                    <td style="background-color:#0372e5; color:#fff">SSID</td>
                    <td style="background-color:#0372e5; color:#fff">Type de sécurité</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{wifiConfig.wifiType}}</td>
                    <td>{{wifiConfig.password}}</td>
                    <td>{{wifiConfig.subnetMask}}</td>
                    <td>{{wifiConfig.dns}}</td>
                    <td>{{wifiConfig.ssid}}</td>
                    <td>{{wifiConfig.securityType}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
        </md-tab>
        -->

      </md-tabs>          
    </md-content>

  </div>
</div>
