
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
</style>
<div class="page page-table" data-ng-controller="dashboardCtrl">
  <div class="col-lg-8 clearfix">
      <h2 class="section-header">
        Tableau de bord
      </h2>
  </div>
  <div class="col-md-12">
    <md-content class="md-padding" style="margin-top:30px">   
      <!--ALL DEVICES LOCATIONS-->
      <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px"> 
        <label>Géolocalisation des termianux</label>
        <br><br>
        <div id="map" style="width:100%;height: 400px"></div>
      </div>

      <br>
      <!--ALL ALERTS TABLE--> 
      <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px"> 
        <label>Alertes</label>
        <br><br>
        <table class="table no-margin" style="margin-bottom:10px;">
          <thead>
            <tr>
                <th style="background-color:#0372e5; color:#fff">
                  <div ng-click="sortType = 'name'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                    <center>Nom <span class="fa fa-caret-down"></span></center>
                  </div>
                </th>
                <th style="background-color:#0372e5; color:#fff">
                  <div ng-click="sortType = 'imei'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                    <center>IMEI <span class="fa fa-caret-down"></span></center>
                  </div>
                </th>
                <th style="background-color:#0372e5; color:#fff">
                  <div ng-click="sortType = 'battery'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                    <center>Niveau Batterie <span class="fa fa-caret-down"></span></center>
                  </div>
                </th>
                <th style="background-color:#0372e5; color:#fff">
                  <div ng-click="sortType = 'date'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                    <center>Dernière mise à jour <span class="fa fa-caret-down"></span></center>
                  </div>
                </th>
                <th style="background-color:#0372e5; color:#fff">
                  <div ng-click="sortType = 'status'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                    <center>Statut <span class="fa fa-caret-down"></span></center>
                  </div>
                </th>

                <th style="background-color:#0372e5; color:#fff">
                  <div ng-click="sortType = 'alert'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                    <center>Alertes <span class="fa fa-caret-down"></span></center>
                  </div>
                </th>
                <!--
                <th style="background-color:#0372e5; color:#fff; width: 200px;"></th>
                -->
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="device in devicesList | filter:searchKeywords | filter :{status : searchByStatus} | orderBy:sortType:sortReverse">

              <td ng-click ="goToDeviceDetails(device.id)">
                <div>
                  <center>{{device.name}}</center>
                </div>
              </td> 

              <td ng-click ="goToDeviceDetails(device.id)">
                <div>
                  <center>{{device.imei}}</center>
                </div>
              </td>

              <td ng-click ="goToDeviceDetails(device.id)">
                <div>
                  <center>{{device.battery}}</center>
                </div>
              </td>

              <td ng-click ="goToDeviceDetails(device.id)">
                <div>
                  <center>{{device.date | date:'MM-dd-yyyy'}}</center>
                </div>
              </td>

              <td ng-click ="goToDeviceDetails(device.id)">
                <div>
                  <center>{{device.status}}</center>
                </div>
              </td>

              <td ng-click ="goToDeviceDetails(device.id)">
                <div>
                  <center>{{device.alert}}</center>
                </div>
              </td>

              <!--
              <td>
               <div>
                  <span class="zmdi zmdi-delete" ng-click="deleteDevice(device)">
                    <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                      Delete device
                    </md-tooltip>
                  </span>
                </div>
              </td>
              -->
            </tr> 
            
          </tbody>
        </table>

      </div>             
    
    </md-content>

  </div>
</div>
