
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
    md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
        color: rgb(0, 122, 199);
        background: rgb(0, 122, 199);
    }
</style>
<div class="page page-table" data-ng-controller="devicesDetailsCtrl">
  <div class="col-lg-8 clearfix">
      <h2 class="section-header">
        Détails du périphérique
      </h2>
  </div>
  <div class="col-md-12">
    <md-button ng-click="addTaskDevice('update', null)" class="md-raised btn-w-md md-primary" style="background-color:#007ac7;">Mise à jour</md-button>
    <md-button class="md-raised btn-w-md md-primary" ng-click="sendMessage()" style="background-color:#007ac7;">Message</md-button>    
    <md-button class="md-raised btn-w-md md-primary" ng-click="addTaskDevice('lock', null)" style="background-color:#007ac7;">Bloquer</md-button>
    <md-button class="md-raised btn-w-md md-primary" ng-click="addTaskDevice('wipe', null)" style="background-color:#007ac7;">Effacer</md-button>
    <md-button class="md-raised btn-w-md md-primary" ng-click="addTaskDevice('locate', null)" style="background-color:#007ac7;">Localiser</md-button>
    <md-button class="md-raised btn-w-md md-primary" ng-click="addTaskDevice('unlock', null)" style="background-color:#007ac7;">Débloquer</md-button>
    
    <md-content class="md-padding" style="margin-top:30px">
      <md-tabs md-dynamic-height="" md-selected="selectedTabIndex" md-border-bottom="" style = "margin: -15px;">
        <md-tab  ng-click="switchTab(0)" >
          <md-tab-label>
            Informations Générales
          </md-tab-label>
          <md-tab-body>          
            <form name="clinicForm" class="form-horizontal form-validation" data-ng-submit="saveDevice(device)">
              <fieldset>
                <!--INFORMATIONS GENERALES-->
                <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px">
                  <div layout layout-sm="column">
                    <div flex="60">
                      <div layout layout-sm="column">
                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  Nom de l'appareil
                              </label>
                              <input name="nom" type="text" ng-model="device.name"
                                 role="alert">
                          </md-input-container>     
                        </div>
                        
                        <div flex="50"> 
                          <md-input-container class="md-block">
                            <label>
                              Numéro de modèle
                            </label>
                            <input 
                            type="text"
                            name="modelNumber" 
                            ng-model="device.modelNumber"/>
                          </md-input-container>   
                        </div>
                      </div>

                      <div layout layout-sm="column">
                        <div flex="50">
                          <md-input-container flex   class="md-block">
                              <label>
                                 Numéro de série
                              </label>
                              <input name="serialNumber" type="text" ng-model="device.serialNumber">
                          </md-input-container>
                        </div>

                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  IMEI
                              </label>
                              <input name="imei" type="text" ng-model="device.imei" role="alert" disabled>
                          </md-input-container>
                        </div>
                      </div>

                      <div layout layout-sm="column">
                        <div flex="50">
                          <md-input-container flex   class="md-block">
                              <label>
                                 ICCID
                              </label>
                              <input name="serialNumber" type="text" ng-model="device.Iccid">
                          </md-input-container>
                        </div>

                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  Niveau de batterie
                              </label>
                              <input name="imei" type="text" ng-model="device.batteryLevel" role="alert" disabled>
                          </md-input-container>
                        </div>
                      </div>

                      <div layout layout-sm="column">
                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  Information de batterie
                              </label>
                              <input name="imei" type="text" ng-model="device.batteryStatus" role="alert" disabled>
                          </md-input-container>
                        </div>

                        <div flex="50">
                          <md-input-container flex   class="md-block">
                              <label>
                                 Utilisation mémoire
                              </label>
                              <input name="serialNumber" type="text" ng-model="device.memoryUsage">
                          </md-input-container>
                        </div>                        
                      </div>

                      <div layout layout-sm="column">
                        <div flex="50">
                          <md-input-container class="md-block">
                              <label>
                                  Information de sécurité
                              </label>
                              <input name="imei" type="text" ng-model="device.securityInformation" role="alert" disabled>
                          </md-input-container>
                        </div>

                        <div flex="50">
                          <md-input-container class="md-block">
                            <label>Status</label>
                            <md-select ng-model="device.status" style="margin-left: 2px;width: 100%;">
                              <md-option value="registered">Enregistré</md-option>
                              <md-option value="active">Actif</md-option>
                              <md-option value="inactive" >Inactif</md-option>
                              <md-option value="masterised" >Masterisé</md-option>
                              <md-option value="transition" >En transition</md-option>
                            </md-select>
                          </md-input-container>  
                        </div>
                      </div>
                    </div>

                    <div flex="40">
                      <div id="map" style="width:100%;height: 100%"></div>
                    </div>
                  </div>
                </div>
                <br><br>                    
                <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#039be5;">Save</md-button>
              </fieldset>
            </form>
          </md-tab-body>
        </md-tab>

        <!--INFORMATIONS RESEAUX-->
        <md-tab  ng-click="switchTab(0)" >
          <md-tab-label>
            Informations Réseaux
          </md-tab-label>
          <md-tab-body> 

            <!-- IF CONNEXION IS WIFI -->
            <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px" ng-if="showWifiReseauxInfo">

              <table class="table no-margin">
                <thead>
                  <tr >
                    <td style="background-color:#0372e5; color:#fff" colspan = "2">Informations Réseaux</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Adresse IP</td>
                    <td>{{device.adresseIp}}</td>
                  </tr>
                  <tr>
                    <td>Masque</td>
                    <td>{{device.maskAddress}}</td>
                  </tr>
                  <tr>
                    <td>DNS</td>
                    <td>{{device.dns}}</td>
                  </tr>
                  <tr>
                    <td>SSID</td>
                    <td>{{device.ssid}}</td>
                  </tr>
                </tbody>
              </table>

            </div>

            <!--IF CONNEXION IS 4G -->
            <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px" ng-if="showOtherConnexionReseauxInfo">

              <table class="table no-margin">
                <thead>
                  <tr >
                    <td style="background-color:#0372e5; color:#fff" colspan = "2">Informations Réseaux</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Type</td>
                    <td>{{device.connectionType}}</td>
                  </tr>

                  <tr>
                    <td>Adresse IP</td>
                    <td>{{device.adresseIp}}</td>
                  </tr>

                  <tr>
                    <td>DNS</td>
                    <td>{{device.dns}}</td>
                  </tr>

                </tbody>
              </table>

            </div>
          </md-tab-body>
        </md-tab>

        <!--AUTRES INFORMATIONS-->
        <md-tab  ng-click="switchTab(0)" >
          <md-tab-label>
            Autres Informations
          </md-tab-label>
          <md-tab-body> 
            <div class="md-block simpleBlock md-whiteframe-6dp" style="padding:10px">

              <table class="table no-margin">
                <thead>
                  <tr >
                    <td style="background-color:#0372e5; color:#fff" colspan = "2">Autres Informations</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Version de l’application courante</td>
                    <td>{{device.appVersion}}</td>
                  </tr>
                  <tr>
                    <td>Version d’Android du terminal</td>
                    <td>{{device.androidVersion}}</td>
                  </tr>
                </tbody>
              </table>
              
            </div> 
          </md-tab-body>
        </md-tab>

      </md-tabs>          
    </md-content>

  </div>
</div>
