
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
</style>
<div class="page page-table" data-ng-controller="devicesAddCtrl">
  <div class="col-lg-8 clearfix">
      <h2 class="section-header">
        Add Device
      </h2>
  </div>
  <div class="col-md-12">
      <md-content class="md-padding">
          <form name="clinicForm" class="form-horizontal form-validation" data-ng-submit="saveDevice(device)">
            <fieldset>
             <div layout layout-sm="column">
                <div flex="50">
                  <md-input-container class="md-block">
                      <label>
                          IMEI
                      </label>
                      <input name="imei" type="text" ng-model="device.imei" role="alert" required>
                  </md-input-container>
                </div>
              </div>
                                       
              <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#007ac7;">Save</md-button>
              <md-button class="md-raised btn-w-md md-primary" data-ng-click="reset()" style="background-color:#007ac7;">Reset</md-button>
            </fieldset>
          </form>
      </md-content>
  </div>
</div>
