<style>
  .col-md-12{
   zoom:0.85;
  }
  .color-primary:hover, a.color-primary:hover {
    color: #007ac7;
  }
  md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(3, 114, 229);
  }
  .selectAllButton{
    background-color: silver;
    text-transform: initial;
    margin: 8px;
    width: 100px;
    height: 36px;
    padding-top: 8px;
    padding-left: 3px;
    border-radius: 2px;
    float: left;
  }
  .selectAllDevicesButton {
    background-color: silver;
    text-transform: initial;
    margin-top: 10px;
    width: 236px;
    height: 35px;
    padding-top: 8px;
    padding-left: 3px;
    border-radius: 2px;
  }
  .dropbtn {
    background-color: #c0c0c0;
    color: #3d4051;
    padding: 8px;
    font-size: 14px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 160px;
  }

  .dropbtn:hover, .dropbtn:focus {
     
  }

  .dropdown {
      margin-top: 0px;
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: fixed;
      background-color: #f9f9f9;
      min-width: 160px;
      overflow: auto;
      z-index: 9999;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown a:hover {background-color: #f1f1f1}

  .show {display:block;}

  .dropbtnone {
    background-color: #c0c0c0;
    color: #3d4051;
    padding: 5px;
    font-size: 12px;
    border-radius: 0px 3px 3px 0px;
    border: none;
    cursor: pointer;
    width: 28px;
    margin-left: -39px;
    border-left: 1px solid #92949c! important;
  }

  .dropbtnone:hover, .dropbtnone:focus {
     
  }

  .dropdownone {
      margin-top: 9px;
      position: relative;
      display: inline-block;
  }

  .dropdownone-content {
      display: none;
      position: fixed;
      background-color: #f9f9f9;
      min-width: 100px;
      overflow: auto;
      z-index: 9999;
      margin-left: -108px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdownone-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdownone a:hover {background-color: #f1f1f1}

  .showone {display:block;}
</style>
<script>
  function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  function closeDropDownMenu(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  function myFunctionone() {
    document.getElementById("myDropdownone").classList.toggle("showone");
  }

  // Close the dropdown if the user clicks outside of it
  function closeDropDownMenuone(event) {
    if (!event.target.matches('.dropbtnone')) {

      var dropdowns = document.getElementsByClassName("dropdownone-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('showone')) {
          openDropdown.classList.remove('showone');
        }
      }
    }
  }
</script>

<div ng-controller="devicesListCtrl" class="page page-table">

  <div class="appraisalButton">
    <md-button aria-label="accounts-add" class="md-fab" ng-click="getDevicesRefresh()" style="background-color: #262B33 !important;">
    <i class="zmdi zmdi-refresh-alt"></i>
    </md-button>
  </div>
  
  <div class="appraisalButton">
    <md-button aria-label="accounts-add" class="md-fab" ng-click="AddDevice()" style="background-color: #262B33 !important;">
    <i class="zmdi zmdi-plus"></i>
    </md-button>
  </div>

  <div class="row ui-section">
    <div class="col-lg-8 clearfix">
        <h2 class="section-header">
          Liste des terminaux
        </h2>
    </div>

                   
    <div class="col-lg-4 clearfix">
      <form style="padding: 30px 0px">
        <input type="text"
               placeholder="Chercher..."
               class="form-control"
               data-ng-model="searchKeywords"
               data-ng-keyup="search()">
      </form>          
      </div>
        <div class="table-filters">
          <div class="row">

          </div>
          <div class="col-lg-13" style="margin-left: 15px;">

            
            <md-button ng-click="chooseDisplayMode()" style="background-color:silver; margin-left: 91%; height: 30px;">
              <i class="zmdi zmdi-format-list-bulleted" ng-show="showTable"></i>
              <i class="zmdi zmdi-view-dashboard" ng-hide="showTable"></i>
            </md-button>
          </div>

          <div class="col-md-12">            
          <div ng-show ="showTable">
            <section class="panel panel-default table-dynamic" style="margin-top:30px;width:100%">

              <div class="col-md-9 page-num-info" style="padding:10px">
                Terminals Séléctionnés({{selectedDevicesNumber}})
                &nbsp;&nbsp;
                Filtre({{filterResultCount}})
              </div>
              <div class="row"     style="width: 102.3%;">
                <div class="col-md-9 page-num-info">

                  <div class = "selectAllButton">
                      <md-checkbox ng-model = "isAllSelected" class="ng-pristine ng-valid md-checked ng-touched" ng-change = "toggleAll()" style="margin-bottom:0px;margin-left:21px;"></md-checkbox>
                  </div>

                  <div class="dropdownone">
                    <button onclick="myFunctionone()" class="dropbtnone"><span class="fa fa-caret-down"></span></button>
                    <div id="myDropdownone" class="dropdownone-content">
                        <a style="color: #3d4051;padding-bottom: 0px;">
                          <md-checkbox ng-model = "isAllDevicesSelected" class="ng-pristine ng-valid md-checked ng-touched" ng-change = "toggleAllDevices()" onClick="closeDropDownMenuone(event)">Tout</md-checkbox>
                        </a>
                    </div>
                  </div>

                  <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Filtrer <span class="fa fa-caret-down" style="padding: 4px;"></span></button>
                    <div id="myDropdown" class="dropdown-content">
                      <a style="font-size:15px;font-weight: bold;border-bottom: 1px solid #3d4051;color: #3d4051;padding-bottom: 6px;">Statut</a>
                      <md-radio-group ng-model="filterByStatus">
                        <a style="border-bottom: 1px solid #c0c0c0;color: #3d4051;padding-bottom: 0px;"><md-radio-button value="registered">Enregistré</md-radio-button></a>
                        <a style="border-bottom: 1px solid #c0c0c0;color: #3d4051;padding-bottom: 0px;"><md-radio-button value="active">Actif</md-radio-button></a>
                        <a style="border-bottom: 1px solid #c0c0c0;color: #3d4051;padding-bottom: 0px;"><md-radio-button value="inactive">Inactif</md-radio-button></a>
                        <a style="border-bottom: 1px solid #c0c0c0;color: #3d4051;padding-bottom: 0px;"><md-radio-button value="masterised">Masterisé</md-radio-button></a>
                        <a style="border-bottom: 1px solid #c0c0c0;color: #3d4051;padding-bottom: 0px;"><md-radio-button value="transit">En transit</md-radio-button></a>
                      </md-radio-group>
                      <a><md-button ng-click="getDevicesByFilter()" onClick="closeDropDownMenu(event)" style="background-color:#007ac7; text-transform: initial; background-color:silver;cursor:pointer;min-width: 125px;">Filtrer</md-button></a>
                    </div>
                  </div> 

                  <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#039be5;margin-top:3px;min-width: 77px;text-transform: initial;" ng-click="updateSelectedDevicesTask('update')" title ="Mettre à jour" ng-if="selectedDevicesActionButton">
                    <i class="zmdi zmdi-refresh-alt ng-scope" style="font-size:31px;cursor:pointer;"></i>
                  </md-button>

                  <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#039be5;margin-top:3px;min-width: 77px;text-transform: initial;" ng-click="updateSelectedDevicesTask('lock')" title ="Bloquer" ng-if="selectedDevicesActionButton">
                    <i class="zmdi zmdi-lock" style="font-size:31px;cursor:pointer;"></i>
                  </md-button>

                  <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#039be5;margin-top:3px;min-width: 77px;text-transform: initial;" ng-click="updateSelectedDevicesTask('locate')" title ="Localiser" ng-if="selectedDevicesActionButton">
                    <i class="zmdi zmdi-pin" style="font-size:31px;cursor:pointer;"></i>
                  </md-button>

                  <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#039be5;margin-top:3px;min-width: 77px;text-transform: initial;" ng-click="sendMessage()" title ="Message" ng-if="selectedDevicesActionButton">
                    <i class="zmdi zmdi-comment-alert" style="font-size:31px;cursor:pointer;"></i>
                  </md-button>

                  <md-button type="submit" class="md-raised btn-w-md md-primary" style="background-color:#039be5;margin-top:3px;min-width: 77px;text-transform: initial;" ng-click="updateSelectedDevicesTask('wipe')" title ="Effacer" ng-if="selectedDevicesActionButton">
                    <i class="zmdi zmdi-close" style="font-size:31px;cursor:pointer;"></i>
                  </md-button>

                </div>
                <div class="col-md-3 text-right pagination-container" style="margin-top: 11px;margin-left: -0.5%;">
                  <md-button ng-click="previousPage()" ng-disabled = "previousButton" style="background-color:silver;cursor:pointer;min-width: 32px;font-size: 26px;">
                    <i class = "zmdi zmdi-chevron-left"></i>
                  </md-button>
                  <md-button ng-click="nextPage()" ng-disabled = "nextButton" style="background-color:silver;cursor:pointer;min-width: 32px;font-size: 26px;">
                    <i class="zmdi zmdi-chevron-right"></i>
                  </md-button> 
                </div>
              </div>

              <table class="table no-margin">
                <thead>
                  <tr>
                    <th style="background-color:#0372e5; color:#fff">
                      
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'name'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Nom <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'imei'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>IMEI <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'battery'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Niveau Batterie <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'date'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Dernière mise à jour<span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'status'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Statut <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="device in devicesList | filter:searchKeywords | orderBy:sortType:sortReverse">
                    <td>
                      <md-checkbox ng-model = "device.selected" aria-label="Checkbox 1" role="checkbox" class="ng-pristine ng-valid md-checked ng-touched" ng-change = "updateSelection(device.imei, device.selected)" >
                        
                      </md-checkbox>
                    </td>
                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.name}}</center>
                      </div>
                    </td> 

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.imei}}</center>
                      </div>
                    </td>

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.batteryLevel}}</center>
                      </div>
                    </td>

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.date | date:'MM-dd-yyyy'}}</center>
                      </div>
                    </td>

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.status}}</center>
                      </div>
                    </td>

                    <td>
                     <div>
                        <span class="zmdi zmdi-delete" ng-click="deleteDevice(device)">
                          <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                          	Supprimer
                          </md-tooltip>
                        </span>
                      </div>
                    </td>

                  </tr> 
                  
                </tbody>
              </table>

              <footer class="table-footer">
                <div class="row">
                  <div class="col-md-6 page-num-info">
                      <span>
                        Afficher
                        <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                        </select> 
                        Inscriptions par page
                      </span>
                  </div>
                  <div class="col-md-6 text-right pagination-container">
                    <md-button ng-click="previousPage()" ng-disabled = "previousButton" style="background-color:silver;height:30px;cursor:pointer;min-width: 32px;font-size: 26px;">
                      <i class = "zmdi zmdi-chevron-left"></i>
                    </md-button>
                    <md-button ng-click="nextPage()" ng-disabled = "nextButton" style="background-color:silver;height:30px;cursor:pointer;min-width: 32px;font-size: 26px;">
                      <i class="zmdi zmdi-chevron-right"></i>                    
                    </md-button>                    
                  </div>
                </div>
              </footer>
            </section>
          </div>

          <div ng-hide = "showTable" style="margin-top:30px;">
            <div class="col-md-4" ng-repeat="device in devicesList | filter:searchKeywords | filter :{status : searchByStatus} | orderBy:sortType:sortReverse">
              <div class="card bg-white">
                  <div class="card-content">
                    <div layout layout-sm="column">
                      <div flex="40">
                        <img src= "../images/protoPhone.jpg" width="100%">
                      </div>
                      <div flex="60">
                        <span class="card-title">{{device.name | limitTo:10}}{{device.name.length > 10 ? '...' : ''}}</span>
                        <br>
                        IMEI : {{device.imei | limitTo:10}}{{device.imei.length > 10 ? '...' : ''}}
                        <br>
                        Niveau Batterie : {{device.battery | limitTo:10}}{{device.battery.length > 10 ? '...' : ''}}
                        <br>
                        Dernière mise à jour : {{device.date | date:'MM-dd-yyyy'}}
                        <br>
                        Statut : {{device.status}}
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-action" style="margin-left:36%">
                      <a href="javascript:;" ng-click="deleteDevice(device)" >Supprimer</a>
                      <a href="javascript:;" ng-click="goToDeviceDetails(device.imei)" class="color-primary" >Details</a>
                  </div>
              </div> 
            </div>            
          </div>


       	</fieldset>
    </div>
  </div>
</div>
