<style>
  .col-md-12{
   zoom:0.85;
  }
  .color-primary:hover, a.color-primary:hover {
    color: #007ac7;
  }
  md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: rgb(3, 114, 229);
  }
  .selectAllButton{
    background-color: silver;
    text-transform: initial;
    margin: 9px;
    width: 148px;
    height: 35px;
    padding-top: 8px;
    padding-left: 3px;
    border-radius: 2px;
    float: left;
  }
  .selectAllDevicesButton {
    background-color: silver;
    text-transform: initial;
    margin-top: 10px;
    width: 236px;
    height: 35px;
    padding-top: 8px;
    padding-left: 3px;
    border-radius: 2px;
  }

</style>

<div ng-controller="fleetListCtrl" class="page page-table">
  <div class="appraisalButton">
        <md-button aria-label="accounts-add" class="md-fab" ng-click="getDevicesRefresh()" style="background-color: #262B33 !important;">
        <i class="zmdi zmdi-refresh-alt"></i>
        </md-button>
    </div>
   <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">
              Liste des terminaux
            </h2>
        </div>

                   
        <div class="col-lg-4 clearfix">
          <form style="padding: 30px 0px">
            <input type="text"
               placeholder="Chercher..."
               class="form-control"
               data-ng-model="searchKeywords"
               data-ng-keyup="search()">
          </form>          
        </div>

        <div class="table-filters">
          <div class="row">

          </div>
          <div class="col-lg-13" style="margin-left: 15px;">
            <label style="display: -webkit-inline-box;float: left;margin-top: 28px; margin-right:8px">Filtrer par:</label>
            <md-input-container style="display:flex; float:left">
              <label>Statut</label>
              <md-select ng-model="filterByStatus" style="margin-left: 2px;width: 100%;">
                <md-option value="active" selected="selected">Actif</md-option>
                <md-option value="inactive" >Inactif</md-option>
                <md-option value="masterised" >Masterisé</md-option>
                <md-option value="registered" >Enregistré</md-option>
                <md-option value="transit" >En transit</md-option>
              </md-select>
            </md-input-container>            

            <md-button ng-click="getDevicesByFilter()" style="background-color:#007ac7; height: 30px; margin: 14px;text-transform: initial; background-color:silver;height:30px;cursor:pointer;">Filtrer</md-button>
            <md-button ng-click="chooseDisplayMode()" style="background-color:silver; margin-left: 43.5%; height: 30px;">
              <i class="zmdi zmdi-format-list-bulleted" ng-show="showTable"></i>
              <i class="zmdi zmdi-view-dashboard" ng-hide="showTable"></i>
            </md-button>
          </div>

          <div class="col-md-12">            
          <div ng-show ="showTable">
            <section class="panel panel-default table-dynamic" style="margin-top:30px;float:left;width:100%">
              
              <div class="row"     style="width: 102.3%;">
                <div class="col-md-6 page-num-info">
                  <div class = "selectAllButton">
                    <md-checkbox ng-model = "isAllSelected" class="ng-pristine ng-valid md-checked ng-touched" ng-change = "toggleAll()" style="margin-bottom: 0px;"></md-checkbox>
                    Selectionner tout
                  </div>
                  <md-button ng-click="sendDeviceToAgency()" ng-if='selectedDevicesActionButton' style="margin-top: 9px;float: left;width: 9%;background-color: #0372e5;cursor: pointer;text-transform: initial;color:white">
                      Expédier
                  </md-button>
                </div>

                <div class="col-md-6 text-right pagination-container" style="margin-top: 11px;margin-left: -0.5%;">

                  <md-button ng-click="previousPage()" ng-disabled = "previousButton" style="background-color:silver;cursor:pointer;">
                    <
                  </md-button>
                  <md-button ng-click="nextPage()" ng-disabled = "nextButton" style="background-color:silver;cursor:pointer;">
                    >
                  </md-button>                    
                </div>
              </div>

              <table class="table no-margin">
                <thead>
                  <tr>
                    <th style="background-color:#0372e5; color:#fff">
                      
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'name'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Nom <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'imei'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>IMEI <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'agencyName'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Agence <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'date'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Dernière mise à jour<span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff">
                      <div ng-click="sortType = 'status'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                        <center>Statut <span class="fa fa-caret-down"></span></center>
                      </div>
                    </th>
                    <th style="background-color:#0372e5; color:#fff;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="device in devicesList | filter:searchKeywords | orderBy:sortType:sortReverse">
                    <td>
                      <md-checkbox ng-model = "device.selected" aria-label="Checkbox 1" role="checkbox" class="ng-pristine ng-valid md-checked ng-touched" ng-change = "updateSelection(device.imei, device.selected)" >
                        
                      </md-checkbox>
                    </td>
                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.name}}</center>
                      </div>
                    </td> 

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.imei}}</center>
                      </div>
                    </td>

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.agencyName}}</center>
                      </div>
                    </td>

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.date | date:'MM-dd-yyyy'}}</center>
                      </div>
                    </td>

                    <td ng-click ="goToDeviceDetails(device.imei)">
                      <div>
                        <center>{{device.status}}</center>
                      </div>
                    </td>

                    <td>
                     <div>
                        <span class="zmdi zmdi-delete" ng-click="deleteDevice(device)">
                          <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                            Supprimer
                          </md-tooltip>
                        </span>
                      </div>
                    </td>

                  </tr> 
                  
                </tbody>
              </table>

              <footer class="table-footer">
                <div class="row">
                  <div class="col-md-6 page-num-info">
                      <span>
                        Afficher
                        <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                        </select> 
                        Inscriptions par page
                      </span>
                  </div>
                  <div class="col-md-6 text-right pagination-container">
                    <md-button ng-click="previousPage()" ng-disabled = "previousButton" style="background-color:silver;height:30px;cursor:pointer;">
                      <
                    </md-button>
                    <md-button ng-click="nextPage()" ng-disabled = "nextButton" style="background-color:silver;height:30px;cursor:pointer;">
                      >
                    </md-button>                    
                  </div>
                </div>
              </footer>
            </section>
          </div>

          <div ng-hide = "showTable" style="margin-top:30px;">
            <div class="col-md-4" ng-repeat="device in devicesList | filter:searchKeywords | filter :{status : searchByStatus} | orderBy:sortType:sortReverse">
              <div class="card bg-white">
                  <div class="card-content">
                    <div layout layout-sm="column">
                      <div flex="40">
                        <img src= "../images/protoPhone.jpg" width="100%">
                      </div>
                      <div flex="60">
                        <span class="card-title">{{device.name | limitTo:10}}{{device.name.length > 10 ? '...' : ''}}</span>
                        <br>
                        IMEI : {{device.imei | limitTo:10}}{{device.imei.length > 10 ? '...' : ''}}
                        <br>
                        Niveau Batterie : {{device.battery | limitTo:10}}{{device.battery.length > 10 ? '...' : ''}}
                        <br>
                        Dernière mise à jour : {{device.date | date:'MM-dd-yyyy'}}
                        <br>
                        Statut : {{device.status}}
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="card-action" style="margin-left:36%">
                      <a href="javascript:;" ng-click="deleteDevice(device)" >Supprimer</a>
                      <a href="javascript:;" ng-click="goToDeviceDetails(device.imei)" class="color-primary" >Details</a>
                  </div>
              </div> 
            </div>            
          </div>


        </fieldset>
    </div>
  </div>
</div>
