<div class="nav-wrapper" ng-if="domainexsistance">
    <ul id="nav"
    class="nav"
    data-slim-scroll
    data-collapse-nav
    data-highlight-active>
    <li class="nav-title"> <span "NAVIGATION"></span> </li>
    
    <li>
        <a md-button aria-label="meanu" href="#/dashboard">
            <i class="zmdi zmdi-home ng-scope"></i>
            Tableau de bord
        </a>
    </li>
    <li>
        <a md-button aria-label="meanu" href="#/admin">
            <i class="zmdi zmdi-smartphone-android"></i>
            Gestion de flotte
        </a>
        <ul>
            <li>
                <a md-button aria-label="meanu" href="#/devices">

                    <i class="fa fa-circle"></i>
                    Liste Terminaux  
                </a>
            </li>
            <li>
                <a md-button aria-label="meanu" href="#/tasks">

                    <i class="fa fa-circle"></i>
                    Tâches
                </a>
            </li>
            
        </ul>
    </li>

    <li>
        <a md-button aria-label="meanu" href="#/aaa">
            <i class="zmdi zmdi-smartphone-setup"></i>
            Configuration
        </a>
        <ul>
            <li>
                <a md-button aria-label="meanu" href="#/ehsFile">
                    <i class="fa fa-circle"></i>
                    Chargement Fichier EHS 
                </a>
            </li>

            <li>
                <a md-button aria-label="meanu" href="#/agencyList">
                    <i class="fa fa-circle"></i>
                    Agences Trigramme 
                </a>
            </li>

            <li>
                <a md-button aria-label="meanu" href="#/wifiList">
                    <i class="fa fa-circle"></i>
                    Configuration WIFI
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a md-button aria-label="meanu" href="#/admin">
            <i class="zmdi zmdi-smartphone-ring"></i>
            Suivi de flotte
        </a>
        <ul>
            <li>
                <a md-button aria-label="meanu" href="#/fleetList">

                    <i class="fa fa-circle"></i>
                    Liste Terminaux  
                </a>
            </li>
            <li>
                <a md-button aria-label="meanu" href="#/demandRma">

                    <i class="fa fa-circle"></i>
                    Demande de RMA
                </a>
            </li>
            <li>
                <a md-button aria-label="meanu" href="#/otherFleet">

                    <i class="fa fa-circle"></i>
                    Autres
                </a>
            </li>
            <li>
                <a md-button aria-label="meanu" href="#/fleetConfig">

                    <i class="fa fa-circle"></i>
                    Configuration
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-divider"></li>

    <li>
        <a md-button aria-label="meanu" href="#/statistics">
            <i class="zmdi zmdi-trending-up"></i>
            Statistiques
        </a>
    </li>

    <li class="nav-divider"></li>

    <li>
        <a md-button aria-label="meanu" href="#/userManagement">
            <i class="material-icons">supervisor_account</i>
            Droits Utilisateurs
        </a>
    </li>
</ul>
</div>
