<style>
  .col-md-12{
   zoom:0.85;
  }
</style>
<div ng-controller="tasksListCtrl" class="page page-table">

  <div class="appraisalButton">
    <md-button aria-label="accounts-add" class="md-fab" ng-click="getTasksRefresh()" style="background-color: #262B33 !important;">
    <i class="zmdi zmdi-refresh-alt"></i>
    </md-button>
  </div>

   <div class="row ui-section">
        <div class="col-lg-4 clearfix">
            <h2 class="section-header">
              Liste des tâches
            </h2>
        </div>

        <div class="col-lg-8 clearfix">
          <div class="col-lg-6" style="margin-top: 18px;">

            <label style="display: -webkit-inline-box;float: left;margin-top: 28px; margin-right:8px">Statut:</label>
            <md-input-container style="display:flex">
              <md-select ng-model="searchByStatus" style="margin-left: 2px;width: 80%;" aria-label= "">
                <md-option value="Demandée" selected="selected">Demandée</md-option>
                <md-option  value="Poussée" >Poussée</md-option>
                <md-option  value="Terminée" >Terminée</md-option>
              </md-select>
            </md-input-container>
          </div>

          <form style="padding: 30px 0px" class="col-lg-6" >
          <input type="text"
               placeholder="Chercher..."
               class="form-control"
               data-ng-model="searchKeywords"
               data-ng-keyup="search()">
          </form>          
        </div>

        <div class="table-filters">
                <div class="row">

            </div>
        <div class="col-md-12">

        <section class="panel panel-default table-dynamic">
          <table class="table no-margin">
            <thead>
              <tr>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'date'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                  	  <center>Date <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'device'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>IMEI <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'action'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>Action <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff">
                    <div ng-click="sortType = 'status'; sortReverse = !sortReverse" style="text-decoration:none;color:white">
                      <center>Statut <span class="fa fa-caret-down"></span></center>
                    </div>
                  </th>
                  <th style="background-color:#0372e5; color:#fff; width: 200px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="task in tasksList | orderBy:sortType:sortReverse | filter:searchKeywords | filter: searchByStatus">

                <td>
                  <div>
                    <center>{{task.creationDate | date:'MM-dd-yyyy'}}</center>
                  </div>
                </td> 

                <td>
                  <div>
                    <center>{{task.device}}</center>
                  </div>
                </td>

                <td>
                  <div>
                    <center>{{task.action}}</center>
                  </div>
                </td>

                <td>
                  <div>
                    <center>{{task.status}}</center>
                  </div>
                </td>

                <td>
                 <div>
                    <span class="zmdi zmdi-delete" ng-click="deleteTask(task)">
                      <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                      	Supprimer la tâche
                      </md-tooltip>
                    </span>
                  </div>
                </td>

              </tr> 
              
            </tbody>
          </table>
          <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                  Afficher
                  <select data-ng-model="numPerPage"
                      data-ng-options="num for num in numPerPageOpt"
                      data-ng-change="onNumPerPageChange()">
                  </select> 
                  Inscriptions par page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="filteredStores.length"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
       	</fieldset>
    </div>
  </div>
</div>
