
<div class="page page-table" data-ng-controller="userManagementCtrl">

    <div class="appraisalButton" ng-if="connecteduser.role!='USER'">

        <md-button aria-label="accounts-add" class="md-fab " ng-click="addUser()" style="background-color: #262B33 !important;">
        <span class="zmdi zmdi-account-add"></span>
        </md-button>
    </div>
    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">
                Droits Utilisateurs
            </h2>
        </div>
         <div class="col-lg-4 clearfix">
            <form style="padding: 30px 0px;">
            <input type="text"
                 placeholder="Chercher..."
                 class="form-control"
                 data-ng-model="searchKeywords"
                 data-ng-keyup="search()">
            </form>
        </div>
        <div class="table-filters">
                <div class="row">
            </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">
            <table class="table table-striped table-responsive">
                <thead>
                <tr>
                    
                    <th>
                        <div class="th">
                            Email
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Nom et prénom
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Role
                        </div>
                    </th>
                    <th>
                        <div class="th">
                            Date de connexion
                        </div>
                    </th>

                <th>
                </th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="item in currentPageUsers">
                    <td>{{item.id}}</td>
                    <td>{{item.displayName}}</td>
                    <td>{{convertRole(item.role)}}</td>
                    <td>{{item.signInDate | date}}</td>
                    <td>
                    <div ng-if="connecteduser.role!='User'">
                        <span class="zmdi zmdi-edit" ng-hide="item.role =='Admin' && connecteduser.role != 'Admin'" ng-click="updateUser(item)" style="margin-right: 10px;">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible1">
                                Modifier
                            </md-tooltip>
                        </span>
                        <span class="zmdi zmdi-delete" ng-if="item.role!='Admin'" ng-click="deleteUser(item)">
                            <md-tooltip md-direction="top" md-visible="tooltipVisible2">
                                Supprimer 
                            </md-tooltip>
                        </span>
                        <div>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                        <span>
                            Afficher
                        <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                        </select>
                            Inscriptions par page
                        </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <uib-pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="filteredUsers.length"
                            max-size="4"
                            ng-change="select(currentPage)"
                            items-per-page="numPerPage"
                            rotate="false"
                            previous-text="&lsaquo;" next-text="&rsaquo;"
                            boundary-links="true"></uib-pagination>
                    </div>
                </div>
            </footer>
            </section>
        </div>
    </div>
</div>
