   <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Customer Details </h2>
        </div>
    </md-toolbar>


    <md-content class="md-padding">







        name  : &nbsp;  {{Vcustomer.name}}<br>
        organization : &nbsp;  {{Vcustomer.organization}}<br>
        postion : &nbsp;{{Vcustomer.postion}}<br>
        certification : &nbsp; {{Vcustomer.certification}}<br>
        adresse :&nbsp;{{Vcustomer.adresse}}<br>
        city  :    &nbsp;{{Vcustomer.city}}<br>
        state :&nbsp; {{Vcustomer.state}}<br>
        zip   :&nbsp;{{Vcustomer.zip}}<br>
        phone :&nbsp;{{Vcustomer.phone}}<br>

        extension  :&nbsp;{{Vcustomer.extension}}<br>
        mobile : &nbsp;{{Vcustomer.mobile}}<br>
        fax  :&nbsp;{{Vcustomer.fax}}<br>
        email : &nbsp;{{Vcustomer.email}}<br>

        <div class="modal-footer">
            <button ui-wave class="btn btn-flat btn-default" ng-click="cancel()">Cancel</button>

        </div>

    </md-content>