


button.md-fab.md-warn.md-button.md-ink-ripple {
    background-color: #009688;/*pour changer couleur md-fab-speed-dial */ 
}


.md-button.md-fab:not([disabled]):hover {
   background-color: rgb(255,64,129) !important;/*pour changer couleur md-fab-speed-dial */ 
}
button.md-fab.md-button.md-ink-ripple {
    background-color: rgb(123,31,162) !important;/*pour changer couleur md-fab-speed-dial */ 
}


button.md-raised {
    
  color: white !important;
}
.errorForm{
        color: rgb(213,0,0);
    font-size: 12px;
        opacity: 1;
    margin-top: 0px;
}





#loader-container {
    background: #EDF0F1 url(../images/audio.svg) no-repeat center center;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
}



.CustomerManagementCtrl .text-capitalize {
  text-transform: capitalize; }
.CustomerManagementCtrl .md-fab:hover, .CustomerManagementCtrl .md-fab.md-focused {
  background-color: #93B6F9 !important; }
.CustomerManagementCtrl p.note {
  font-size: 1.2rem; }
.CustomerManagementCtrl .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }
.appraisalButton {
	position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
	
}



