
<!doctype html>
<!--[if lt IE 8]>         <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Chronopost</title>
        <meta name="description" content="Responsive Admin Web App with Bootstrap and AngularJS">
        <meta name="keywords" content="angularjs admin, admin templates, admin themes, bootstrap admin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="styles/loader.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300,300italic,500italic|Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/material-design-iconic-font/dist/css/material-design-iconic-font.min.css">
        <!-- end Needs images -->


            <!-- build:css({.tmp,client}) styles/main.css -->
            <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
            <link rel="stylesheet" href="styles/bootstrap.css">
            <link rel="stylesheet" href="styles/ui.css">
            <link rel="stylesheet" href="styles/main.css">
            <link rel="stylesheet" href="styles/custom.css">
            <!-- endbuild -->
            <style type="text/css">
                md-fab-speed-dial.md-scale .md-fab-action-item {
                    margin: 5px;
                }
                .bg-success {
                    background-color: #007ac7;
                }
                .section-header{
                    color: #0372e5;
                }
                .wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
                    background: #007ac7;
                }
                .wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active {
                    background-color: #007ac7;
                }
                .wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
                    background: #007ac7;
                    color: #fff;
                    opacity: .6;
                }
                .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
                    z-index: 3;
                    color: #fff;
                    background-color: #007ac7;
                    border-color: #007ac7;
                    cursor: default;
                }
            </style>
    </head>
    <body data-ng-app="app"
          id="app"
          class="app"
          data-custom-page
          data-ng-controller="AppCtrl"
          data-ng-class=" { 'layout-boxed': main.layout === 'boxed',
                            'nav-collapsed-min': main.isMenuCollapsed
          } ">
        <!--[if lt IE 9]>
            <div class="lt-ie9-bg">
                <p class="browsehappy">You are using an <strong>outdated</strong> browser.</p>
                <p>Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            </div>
        <![endif]-->

        <div id="loader-container"></div>

        <header data-ng-include=" 'views/header.html' "
                 id="header"
                 class="header-container header-fixed bg-success"></header>

        <div class="main-container"
             data-ng-class="{ 'app-nav-horizontal': main.menu === 'horizontal' }">
            <aside data-ng-include=" 'views/sidebar.html' "
                   id="nav-container"
                   class="nav-container"
                   data-ng-class="{ 'nav-fixed': main.fixedSidebar,
                                    'nav-horizontal': main.menu === 'horizontal',
                                    'nav-vertical': main.menu === 'vertical',
                                    'bg-white': ['31','32','33','34','35','36'].indexOf(main.skin) >= 0,
                                    'bg-dark': ['31','32','33','34','35','36'].indexOf(main.skin) < 0
                   }">
            </aside>

            <div id="content" class="content-container">
                <section data-ui-view
                         class="view-container {{main.pageTransition.class}}"></section>
            </div>
        </div>
        <!--script src="http://maps.google.com/maps/api/js"></script-->
        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
         

        <!-- endbuild -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>

        <!-- build:js scripts/ui.js -->
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>

        <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
        <script src="bower_components/ngmap/build/scripts/ng-map.min.js"></script>
        <script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
        <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>

        <script src="bower_components/jquery-steps/build/jquery.steps.min.js"></script>
        <script src="bower_components/angular-wizard/dist/angular-wizard.min.js"></script>

        <script src="bower_components/textAngular/dist/textAngular-rangy.min.js"></script>
        <script src="bower_components/textAngular/dist/textAngular.min.js"></script>
        <script src="bower_components/textAngular/dist/textAngular-sanitize.min.js"></script>

        <script src="bower_components/angular-translate/angular-translate.min.js"></script>
        <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
        <script src="bower_components/angular-csv-import/dist/angular-csv-import.js"></script>

        <script src="vendors/echarts.js"></script>
        <script src="vendors/ngecharts.js"></script>
        
  

        <!-- endbuild -->
        <!-- MAP Quest -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
        <script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9WC2f9atyFksJcbUOe41hEolKPuDhXmo"></script>

        <!-- We use client cookies to save the user credentials -->
        <script type="text/javascript" src="https://html2canvas.hertzen.com/build/html2canvas.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-route.js"></script>
        
        <!-- Setting the right viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- build:js scripts/app.js -->
        <!-- inject:js -->
        <script src="scripts/app.module.js"></script>
        <script src="scripts/controllers/agencyAdd.js"></script>
        <script src="scripts/controllers/agencyDetails.js"></script>
        <script src="scripts/controllers/agencyList.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/demandRma.js"></script>
        <script src="scripts/controllers/deviceAdd.js"></script>
        <script src="scripts/controllers/deviceDetails.js"></script>
        <script src="scripts/controllers/devicesList.js"></script>
        <script src="scripts/controllers/fleetConfig.js"></script>
        <script src="scripts/controllers/fleetList.js"></script>
        <script src="scripts/controllers/otherFleet.js"></script>
        <script src="scripts/controllers/tasksList.js"></script>
        <script src="scripts/controllers/userManagement.js"></script>
        <script src="scripts/controllers/wifiList.js"></script>
        <script src="scripts/directive/fileModel.js"></script>
        <script src="scripts/directive/ngSimpleUpload.js"></script>
        <script src="scripts/directive/uiLoader.js"></script>
        <script src="scripts/factory/ToastCustomDemo.js"></script>
        <script src="scripts/factory/sandbox.js"></script>
        <script src="scripts/factory/userSession.js"></script>
        <script src="scripts/controllers/core/app.controller.js"></script>
        <script src="scripts/controllers/core/i18n.js"></script>
        <script src="scripts/controllers/layout/loader.js"></script>
        <script src="scripts/controllers/layout/sidebar.directive.js"></script>
        <script src="scripts/controllers/modals/addUserController.js"></script>
        <script src="scripts/controllers/modals/addWifi.js"></script>
        <script src="scripts/controllers/modals/chooseAgency.js"></script>
        <script src="scripts/controllers/modals/editWifi.js"></script>
        <script src="scripts/controllers/modals/removeUser.js"></script>
        <script src="scripts/controllers/modals/sendMessage.js"></script>
        <script src="scripts/controllers/modals/updateUser.js"></script>
        <script src="scripts/controllers/page/page.controller.js"></script>
        <script src="scripts/controllers/page/page.directive.js"></script>
        <script src="scripts/controllers/page/signUpCtrl.js"></script>
        <script src="scripts/services/datastore/agencyService.js"></script>
        <script src="scripts/services/datastore/datastoreMembership.js"></script>
        <script src="scripts/services/datastore/datastoreUser.js"></script>
        <script src="scripts/services/datastore/deviceService.js"></script>
        <script src="scripts/services/datastore/taskService.js"></script>
        <script src="scripts/services/datastore/user.js"></script>
        <script src="scripts/services/datastore/wifiService.js"></script>
        <!-- endinject -->
        <!-- build:js scripts/app.js -->
        <!-- Angular Material Fileinput -->
        <link rel="stylesheet" href="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css">
        <script src="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
        <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous">
        </script>
        
    </body>
</html>
