
<style type="text/css">
    div#select_container_4 {
        z-index: 1060;
    }
    button.whiteButton {
        color: black !important;
    }
</style>

<md-dialog aria-label="New Project Form" role="form" flex="45">

    <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Observation</h2>
        </div>
    </md-toolbar>

     <md-content class="md-padding">
        <md-input-container class="md-block">          
          <label>
            <span data-translate="OBSERVATION"></span>
          </label>
          
          <textarea
          type="text"
          name="observation"
          ng-maxlength="150"
          md-maxlength="150" 
          ng-model="observation"/>
        </md-input-container>

        <div class="modal-footer">
            <button ui-wave class="md-raised btn-w-md md-button md-ink-ripple whiteButton" ng-click="cancel()">Cancel</button>
            <button ui-wave class="md-raised btn-w-md md-primary md-button md-ink-ripple" ng-click="updateObservation()" ng-if="showSave">Save</button>
        </div>

            
    </md-content>
</md-dialog>



