input#current {
    color: green;
}


.modal-footer {
  
  border-top: 0px solid #e5e5e5;   /*pour supprimer la ligne de footer dans formulaire */ 

   }

.md-select-menu-container.md-active {
    z-index: 1100;
}
md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar {
    background-color: rgb(0, 218, 197) !important;
}
.appraisalButton {
	position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
}
.dropdown-menu {
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
  top: 99%;
  background-color: #FAFAFA;
}
.dropdown-menu {
  position: absolute;
  right: 65px;
  left: auto;
}
li.custom-header {
  height: 115px;
  padding: 10px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-inline-box;
  background-color: #ffffff
}
li.custom-header>img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2)
}
li.custom-header>p {
  z-index: 5;
  color: rgb(83, 83, 83);
  font-size: 17px;
  margin: 26px 14px 14px 14px;
}
li.custom-header>p>small {
  display: block;
  font-size: 12px
}
li.user-footer {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #f4f4f4;
  border-top: 1px solid #CCCCCC;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
li.user-footer:after {
  content: " ";
  display: table
}
li.user-footer:after {
  clear: both
}
li.user-footer .btn-default {
  color: #666666
}
md-toast.success-toast > .md-toast-content {
    background-color: rgb(0,150,136);
}
md-toast.error-toast > .md-toast-content {
    background-color: rgb(213,0,0);
}
md-toast.warning-toast > .md-toast-content {
    background-color: #FF8B28;
}
.formIcons{
    font-size: 25px;
    margin-top: 5px;
    color: #ffca28;
}